= form_for @business, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label t('.name'), :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .form-actions
    - if f.object.new_record?
      %span.medium.pretty.btn.primary
        = f.submit t('.add_new_business')#, :class => 'btn btn-primary'
    - else
      %span.medium.pretty.btn.secondary
        = f.submit t('update')#, class: 'btn btn-primary'
    %span.medium.pretty.btn.default
      = link_to t('.cancel', :default => t("helpers.links.cancel")), businesses_path#, :class => 'btn'
