- model_class = Business
.row
  %h3.ten.columns
    = t('.title', :default => model_class.model_name.human.pluralize)
  .two.columns.action
    %span.pretty.medium.primary.btn.entypo.icon-left.icon-list-add
      = link_to t('new', :default => t("helpers.links.new")), new_business_path
.table
  .row.table-head
    .two.columns
      %h6.title= model_class.human_attribute_name(:id)
    .eight.columns
      %h6.title= t('.name')
    .two.columns
      %h6.title= t('status')
  - @businesses.each_with_index do |business, i|
    .row.table-rows
      .two.columns
        %p
          = link_to business.id, business_path(business), :class => 'name'
      .eight.columns
        %p
          = "#{business.name}"
      .two.columns
        .row
          .twelve.columns
          .twelve.columns
            %span.pretty.small.btn.warning.icon-left.entypo.icon-list-add
              = link_to t('edit', :default => t("helpers.links.edit")), edit_business_path(business)
          .twelve.columns
            %span.pretty.small.btn.danger.icon-left.entypo.icon-trash
              = link_to t('.destroy', :default => t("helpers.links.destroy")), business_path(business),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }
  =# paginate @businesses