.row
  .twelve.columns
    %h3= t('resend_confirmation')
.row
  .eight.columns
    - unless current_user
      .panel
        = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
          = devise_error_messages!
          = f.hidden_field :reset_password_token
          %ul
            %li.field
              = f.label :email
              = f.email_field :email, :autofocus => true, :class => 'password input'
            %li.field
              = f.submit t('resend_confirmation'), :class => ' pretty medium warning btn'
            .hide
              %li.field
                %label.checkbox{ :for => :terms_of_service }
                  = check_box_tag :terms_of_service, 1, true, class: 'checked'
                  %span
    = render "devise/shared/links"