- model_class = Blog
.row
  .twelve.columns
    %h4=t '.title', :default => model_class.model_name.human.pluralize
    %hr.divider
.twelve.colgrid
  .row
    - { news: 'Berita', general: 'Umum', entrepreneurship: 'Keusahawanan', marketing: 'Pemasaran'}.each_with_index do |kvpair, i|
      .three.columns
        = content_tag( 'a', href: category_blog_path(filter: kvpair[0])) do
          .panel
            %p=kvpair[1]
            .image
              = image_tag "#{kvpair[1].to_s.downcase}.png"
            %br
.row
  .eight.columns
    .row
      .three.columns
        %h5 Berita Terkini

      %hr.divider

    .row
      .twelve.columns
        %ul.blog-list
          - @blogs.each do |blog|
            %li.panel
              %h5=link_to blog.title, show_blog_path(blog)
              .content
                /= truncate(blog.content, :length => 500).html_safe
                = sanitize(blog.content.html_safe[0..250]) + '...'
                .info
                  %small
                    = link_to t('.read_more'), show_blog_path(blog)
              %p
                %small
                  = "Tag : " unless blog.tag_list.blank?
                  = raw blog.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
  = render partial: 'portals/newsbar'