- model_class = Blog
.row
  .five.columns
    %h3=t '.title', :default => model_class.model_name.human.pluralize
  .seven.columns
    %section.pill.tabs
      %ul.tab-nav
        %li.active= link_to "Semua", category_blog_path
        %li= link_to_unless_current "Umum", category_blog_path(filter: :general)
        %li= link_to_unless_current "Berita", category_blog_path(filter: :news)
        %li= link_to_unless_current "Keusahawanan", category_blog_path(filter: :entrepreneurship)
        %li= link_to_unless_current "Pemasaran", category_blog_path(filter: :marketing)

.row
  .twelve.columns
    %hr.divider
    %ul.blog-list
      - @blogs.each do |blog|
        %li.panel
          %h4=link_to blog.title, show_blog_path(blog)
          .content
            /= truncate(blog.content, :length => 500).html_safe
            = blog.content.html_safe
            .info
              %small
                = link_to t('.read_more'), show_blog_path(blog)
          %p
            %small
              = "Tag : " unless blog.tag_list.blank?
              = raw blog.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
