:css
  ul li {display: inline;}

- model_class = Blog
.row
  .five.columns
    %h3=t '.title', :default => model_class.model_name.human.pluralize
  .seven.columns
    %section.pill.tabs
      %ul.tab-nav
        %li.active= link_to "Semua", blogs_path
        %li= link_to_unless_current "Umum", blogs_path(filter: :general)
        %li= link_to_unless_current "Berita", blogs_path(filter: :news)
        %li= link_to_unless_current "Keusahawanan", blogs_path(filter: :entrepreneurship)
        %li= link_to_unless_current "Pemasaran", blogs_path(filter: :marketing)

.row
  .twelve.columns
    %hr.divider
    - @blogs.each do |blog|
      %b=link_to blog.title, show_blog_path(blog)
      %br
      = truncate(blog.content, :length => 500).html_safe
      = link_to t('.read_more'), show_blog_path(blog)
      %br
      = "Tag : " unless blog.tag_list.blank?
      = raw blog.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')