- model_class = Blog
- if can? :manage, @blogs
  .row
    .ten.columns
      %h3=t '.title', :default => model_class.model_name.human.pluralize
    .two.columns.action
      %span.medium.pretty.btn.primary
        = link_to t('.new', :default => t("helpers.links.new")), new_blog_path
    %hr.divider
  .row
    .twelve.columns
      %section.pill.tabs
        %ul.tab-nav
          - filter_key = params[:filter]
          = content_tag('li',(link_to "Semua", blogs_path), class: ( filter_key.nil? ? 'active' : '' ))
          = content_tag('li',(link_to "Umum", blogs_path(filter: :general)), class: ( filter_key == 'general' ? 'active' : '' ))
          = content_tag('li',(link_to "Berita", blogs_path(filter: :news)), class: ( filter_key == 'news' ? 'active' : '' ))
          = content_tag('li',(link_to "Keusahawanan", blogs_path(filter: :entrepreneurship)), class: ( filter_key == 'entrepreneurship' ? 'active' : '' ))
          = content_tag('li',(link_to "Pemasaran", blogs_path(filter: :marketing)), class: ( filter_key == 'marketing' ? 'active' : '' ))
    %hr.divider
  .table
    .row.table-head
      .one.columns
        %h6.title= "Bil"
      .eight.columns
        %h6.title= t('.subject')
      .one.columns
      .one.columns
    - @blogs.each_with_index do |blog, i|
      .row.table-rows
        .one.columns
          %p= blog.id
        .eight.columns
          %p= link_to blog.title, blog_path(blog), :class => 'name'
          %p
            %small
              %span.label.info Tag :
              = raw blog.tag_list.map { |t| link_to t, tag_path(t), :class => 'tag' }.join(', ')
        .one.columns
          %span.small.pretty.btn.warning
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_blog_path(blog)
        .one.columns
          %span.small.pretty.btn.default
            = link_to t('.destroy', :default => t("helpers.links.destroy")), blog_path(blog), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }


