:css
  .filter
  ul li {display: inline;}

- model_class = Blog
.row
  .five.columns
    %h3=t '.title', :default => model_class.model_name.human.pluralize
  .seven.columns
    %section.pill.tabs
      %ul.tab-nav
        %li.active= link_to "Semua", category_blog_path
        %li= link_to_unless_current "Umum", category_blog_path(filter: :general)
        %li= link_to_unless_current "Berita", category_blog_path(filter: :news)
        %li= link_to_unless_current "Keusahawanan", category_blog_path(filter: :entrepreneurship)
        %li= link_to_unless_current "Pemasaran", category_blog_path(filter: :marketing)

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= t('.subject')
      %th= "Tag"
      %th
  %tbody
    - @blogs.each do |blog|
      %tr
        %td= link_to blog.id, blog_path(blog)
        %td= blog.title
        %td= raw blog.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
        %td
          %span.small.pretty.btn.secondary
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_blog_path(blog)#, :class => 'btn btn-mini'
          %span.small.pretty.btn.danger
            = link_to t('.destroy', :default => t("helpers.links.destroy")), blog_path(blog), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }#, :class => 'btn btn-mini btn-danger'

%span.medium.pretty.btn.primary
  = link_to t('.new', :default => t("helpers.links.new")), new_blog_path#, :class => 'btn btn-primary'
