<%= form_for @consultant, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div><
  <% if @consultant.new_record? %>
    <div class="control-group">
      <%= f.label :password, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :password, :class => 'text_field' %>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.fields_for :profile_photo do |pp| %>
      <%= pp.label 'Upload profile photo', :class => 'control-label' %>
      <div class="controls">
        <%= pp.file_field :file, :class => 'text_field' %>
      </div>
    <% end %>
  </div>
  <div class='control-group'>
    <%= f.label 'Select a Program', class: 'control-label' %>
    <div class='controls'>
      <%= select_tag :program_id, options_for_select(Program.all.map{|a| [a.name,a.id]}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bio_data, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :bio_data, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                consultants_path, :class => 'btn' %>
  </div>
<% end %>
