<%= form_for(@consultant) do |f| %>
  <% if @consultant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consultant.errors.count, "error") %> prohibited this consultant from being saved:</h2>

      <ul>
      <% @consultant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='field'>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <div class='control-group'>
    <%= f.label 'Select a Program', class: 'control-label' %>
    <div class='controls'>
      <%= select_tag :program_id, options_for_select(Program.all.map{|a| [a.name,a.id]}) %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
