= nested_form_for(@consultant) do |f|
  - if @consultant.errors.any?
    .row
      .twelve.columns
        #error_explanation.alert.danger
          %h5
            = pluralize(@consultant.errors.count, "error")
            prohibited this consultant from being saved:
          %ul
            - @consultant.errors.full_messages.each do |msg|
              %li= msg
  %ul
    %li.field
      = f.label t('email')
      = f.text_field :email, :class => 'text input', :placeholder => t('email')
    %li.field
      = f.label t('password')
      = f.password_field :password, :class => 'password input', :placeholder => t('password')
    %li.field
      = f.submit t('.create_consultant'), :class => 'medium btn primary'
  .row
    .twelve.columns
      = f.label 'Pilih Program'
      = f.fields_for :consultants_programs do |program|
        .row
          .six.columns
            .picker
              = program.select :program_id, options_for_select(Program.all.map{ |a| [a.name, a.id]}, program.object.program_id)
          .six.columns
            %span.pretty.medium.btn.danger.icon-left.entypo.icon-trash
              = program.link_to_remove t('remove_program')
      = f.link_to_add t('add_program'), :consultants_programs
      = f.hidden_field :is_active, value: 1
