<%- model_class = Consultant -%>
<div class="page-header">
  <h2>Contact <%= @consultant.first_name %> <%= @consultant.last_name %></h2>
</div>

<dl class="dl-horizontal">
  <div>
    <% if !@consultant.profile_photo.nil? %>
      <%= image_tag (@consultant.profile_photo.file) %>
    <% end %>
  </div>
  <dd><%= @consultant.email %></dd>
</dl>

<%= form_for @consultant, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :password, :class => 'text_field' %>
    </div>
  </div>
<% end %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              consultants_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_consultant_path(@consultant), :class => 'btn' %>
  <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
              consultant_path(@consultant),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
