<%- model_class = Consultant -%>
<div class="page-header">
  <h1><%= t('contact_consultant') %> <%= @consultant.first_name %> <%= @consultant.last_name %></h1>
</div>
<br/>
<%= form_for @consultant, url: contact_sent_path, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.text_field t('name'), :class => 'text_field', type: "hidden", :value => "#{current_user.first_name} #{current_user.last_name}" %>
  <%= f.text_field :email, :class => 'text_field', type: "hidden", :value => current_user.email %>
  
  <div class="control-group">
    <%= f.label t('subject'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subject, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label t('message'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :message, class: 'text_area_large' %>
    </div>
  </div>

  <div class="form-actions">
<!--     <%= link_to t('.back', :default => t("helpers.links.back")),
                consultants_path, :class => 'btn'  %> -->
    <%= button_tag t('send'), class: 'pretty small primary' %>
  </div>
<% end %>
