- model_class = Consultant
.row
  %h3.ten.columns
    = t('.title', :default => model_class.model_name.human.pluralize)
  .two.columns.action
    %span.medium.primary.btn.entypo.icon-left.icon-list-add
      = link_to t('new'), new_consultant_path
.table
  .row.table-head
    .three.columns
      %h6.title= t('name')
    .three.columns
      %h6.title= t('company_name')
    .three.columns
      %h6.title= t('program')
    .two.columns
      %h6.title= t('status')
  - @consultants.each_with_index do |consultant, i|
    .row.table-rows
      .three.columns
        %p
          = link_to "#{consultant.first_name} #{consultant.last_name}", consultant_path(consultant), :class => 'name'
      .three.columns
        %p
          = consultant.company_name
      .three.columns
        %ul
          - consultant.programs.each do |p|
            %li
              %p= p.name
      .one.columns
        %span.small.btn.info.icon-left.entypo.icon-list-add
          = link_to t('.show', :default => t("helpers.links.show")), consultant_path(consultant)
      .one.columns
        %span.small.btn.danger.icon-left.entypo.icon-trash
          = link_to t('destroy', :default => t("helpers.links.destroy")),
            consultant_path(consultant),
            :method => :delete,
            :data => { :confirm => t('confirm', :default => t("helpers.links.confirm", :default => t('are_you_sure'))) }
