- model_class = Advert
.row
  %h3.nine.columns
    =t '.title', :default => model_class.model_name.human.pluralize
  .three.columns.action
    %span.pretty.medium.primary.btn.entypo.icon-left.icon-list-add
      = link_to t('create_advert', :default => t("helpers.links.new")), new_advert_path
.row
  .twelve.columns
    .table
      .row.table-head
        .one.columns
          %h6 No
        .six.columns
          %h6.title= t('name')
        .one.columns
          %h6.title &nbsp;
        .one.columns
          %h6.title= t('active')
        .two.columns
          %h6.title= t('paid_for')
        .one.columns
          %h6.title &nbsp;

      - @my_adverts.each_with_index do |advert, index|
        .row.table-rows
          .one.columns
            %p= index + 1
          .six.columns
            %p
              = link_to advert.title, advert_path(advert), :class => 'name'
              .row
                .date= "#{advert.start_date.try(:to_formatted_s,'rfc822')} - #{advert.end_date.try(:to_formatted_s,'rfc822')}"
          .one.columns
            %h6.title &nbsp;
          .one.columns
            %p= advert.active? ? 'YA' : ''
          .two.columns
            %p= advert.paid_for? ? 'YA' : ''
          .one.columns
            = link_to t('view'), advert_path(advert), class: 'btn btn-mini'

  