- model_class = Consultant
.row
  %h3.twelve.columns
    = t('.title', :default => model_class.model_name.human)
  .two.columns.action.hide
    - if current_user
      %span.pretty.medium.primary.btn.entypo.icon-left.icon-list-add
        = link_to t('contact'), contact_consultant_path(@consultant)
  %hr.divider
.row
  .two.columns.center
    .image.avatar
      - if !@consultant.profile_photo.nil?
        = image_tag (@consultant.profile_photo.file), size: '70x70'
      - else
        = image_tag('http://flickholdr.com/70/70/avatar', size: '70x70')
  .ten.columns
    %h5
      = (@consultant.first_name.blank? && @consultant.last_name.blank?) ? "<br/>".html_safe : @consultant.full_name
    .gender.row
      - if !@consultant.company_name.blank?
        %span.ten.columns
          = @consultant.company_name
      - else
        %span.ten.columns Nil
    - if can? :manage, @consultant
      .email.row
        %span.ten.columns
          = @consultant.email
      .phone.row
        %span.ten.column= @consultant.phone.blank? ? "<br/>".html_safe : @consultant.phone

.row
  .twelve.columns
    %hr.divider
    %h5= t('bio_data')
    - if @consultant.bio_data
      - unless @consultant.bio_data.empty?
        %p= @consultant.bio_data.html_safe
      - else
        %p Not Available
.row
  .twelve.columns
    %h5= t('program')
    - unless @consultant.programs.empty?
      %ol
        - @consultant.programs.each do |program|
          %li
            = program.name
    - else
      %p Not Available
- if can? :manage, :all
  .row
    .twelve.columns
      %h5= t('registered_on')
      %p= @consultant.register_date
  .row
    .twelve.columns
      %h5= t('status')
      %p= @consultant.is_active? ? t('active') : t('inactive')
.row
  .twelve.columns
    %hr.divider
    - if can? :manage, Consultant
      %span.medium.pretty.btn.warning
        = link_to t('edit', :default => t("helpers.links.edit")), edit_consultant_path(@consultant)
    - if current_user && cannot?(:manage, :all)
      %span.medium.pretty.btn.warning
        = link_to t('contact'), contact_consultant_path(@consultant)
