<%- model_class = Consultant -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <div>
    <% if !@consultant.profile_photo.nil? %>
      <%= image_tag (@consultant.profile_photo.file) %>
    <% end %>
  </div>
  <dt><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></dt>
  <dd><%= @consultant.first_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
  <dd><%= @consultant.last_name %></dd>
  <dt><strong>Program</strong></dt>
  <dd><%= @consultant.program.name unless @consultant.program.nil? %></dd>
  <% if @consultant.phone.blank? %>
  <% else %>
    <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
    <dd><%= @consultant.phone %></dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @consultant.email %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              consultants_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_consultant_path(@consultant), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              consultant_path(@consultant),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
