.row
  .twelve.columns
    %h3= "Edit Pengguna"
.row
  .eight.columns
    .panel
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
        = devise_error_messages!
        %ul
          %li.field
            = f.label :first_name
            = f.text_field :first_name, :autofocus => true, :class => 'text input'
          %li.field
            = f.label :last_name
            = f.text_field :last_name, :autofocus => true, :class => 'text input'
          %li.field
            = f.label :email
            = f.email_field :email, :autofocus => true, :class => 'text input'
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %li.field
              Sedang menanti pengesahan untuk: #{resource.unconfirmed_email}
          %li.field
            = f.label :password
            %i=t('password_leave_empty_hint')
            = f.password_field :password, :autocomplete => "off", :class => 'text input'
          %li.field
            = f.label :password_confirmation
            = f.password_field :password_confirmation, :class => 'text input'
          %li.field
            = f.label :current_password
            %i (kata laluan semasa diperlukan untuk mengesahkan perubahan)
            = f.password_field :current_password, :class => 'text input'
          %li.field
            %span.pretty.medium.warning.btn
              / = f.submit "Update"
              %button{:onClick => 'submit();'} Update
.row
  .eight.columns
    %h3 Batalkan permohonan akaun
    %p
      Tidak berpuas hati? #{button_to "Batalkan permohonan akaun", registration_path(resource_name), :data => { :confirm => "Anda pasti?" }, :method => :delete}.
    = link_to "Kembali", :back
