.row
  .twelve.columns
    %h3= t('sign_up')
.row
  .eight.columns
    .panel
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :id => 'register') do |f|
        = devise_error_messages!
        %ul
          %li.field
            .row
              .six.columns
                = f.label t('first_name')
                = f.text_field :first_name, :autofocus => true, :class => 'text input', value: @user.first_name
              .six.columns
                = f.label t('last_name')
                = f.text_field :last_name, :autofocus => true, :class => 'text input', value: @user.last_name
          %li.field
            .row
              .six.columns
                = f.label 'Jantina'
                = f.label :gender, :class => 'radio checked' do
                  = f.radio_button :gender, 'm'
                  %span
                  Lelaki
                = f.label :gender, :class => 'radio' do
                  = f.radio_button :gender, 'f'
                  %span
                  Perempuan
              .six.columns
                = f.label t('ic_number'), t('ic_number')
                = f.text_field :ic_number, :class => 'text input', value: @user.ic_number
                %small (contoh : 800101-01-5000)
          %li.field
            = f.label t('phone')
            = f.text_field :phone, :class => 'phone input', value: @user.phone
            %small (contoh : 0123456790)
          %li.field
            = f.label t('email')
            = f.email_field :email, :autofocus => true, :class => 'text input', value: @user.email
          %li.field
            = f.label t('password')
            = f.password_field :password, :class => 'text input'
            %small
              = t('password_length_hint')
          %li.field
            = f.label t('password_confirmation')
            = f.password_field :password_confirmation, :class => 'text input'
          %li.field
            %label.checkbox{ :for => :terms_of_service }
              = check_box_tag :terms_of_service
              %span
              = link_to t('terms'), 'http://www.pkns.gov.my/HTML/disclaimer.html', :class => 'term', onClick: 'window.open("http://www.pkns.gov.my/HTML/disclaimer.html","_blank");'
          %li.field
            = f.hidden_field :is_active, value: true
            %span.pretty.medium.warning.btn
              %button=t('sign_up')
