<h1><%= t('sign_up') %></h1>
<br/>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class='row-fluid'>
    <div class='span3'><%= f.label t('first_name') %>
    <%= f.text_field :first_name, :autofocus => true %></div>

    <div class='span3'><%= f.label t('last_name') %>
    <%= f.text_field :last_name, :autofocus => true %></div>
  </div>

  <br>
  <div class='row-fluid'>
    <div class='span1'>
      <%= f.label :gender %>
    </div>
    <div class='span3'>
      <span>
        <%= f.radio_button :gender, 'm' %>
        Lelaki

      <br/>
      <span>
        <%= f.radio_button :gender, 'f' %>
        Perempuan
      </span>
    </div>
  </div>
  <br/>
  <div class='row-fluid'>
    <div class='span3'>
        <div class="span3">
          <%= f.label t('ic_number'), "No KP" %>
        </div>
        <div class="span8">
          <small>(contoh : 800101-01-5000)</small>
        </div>
      <%= f.text_field :ic_number %>
    </div>
    <div class='span3'>
      <div class="span3">
          <%= f.label t('phone') %>
        </div>
        <div class="span8">
          <small>(contoh : 0123456790)</small>
        </div>
      <%= f.text_field :phone %>
    </div>
    <div class='span3'>
      <div style="padding-bottom:5px;">
        <%= f.label t('email') %>
      </div>
      <%= f.email_field :email, :autofocus => true %>
    </div>
  </div>

  <br>
  <div class='row-fluid'>
    <div class='span3'>
      <%= f.label t('password') %>
      <%= f.password_field :password %>
    </div>
    
    <div class='span3'>
      <%= f.label t('password_confirmation') %>
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
    <%= f.hidden_field :is_active, value: true %>
  






  <br>
  <div><%= f.submit t('sign_up'), :class => 'btn btn-primary' %></div>
<% end %>

<%= render "devise/shared/links" %>
