- model_class = Business
.page-header
  %h1=t '.title'

%p
  %strong= t('name') + ':'
  = @business_category.name

.form-actions
  %span.medium.pretty.btn.secondary
    = link_to t('edit', :default => t("helpers.links.edit")), edit_business_category_path(@business_category)
  %span.medium.pretty.btn.danger
    = link_to t('destroy', :default => t("helpers.links.destroy")), business_category_path(@business_category)
  %span.medium.pretty.btn.warning
    = link_to t('back'), business_categories_path