- model_class = Newsletter
.row
  %h3.ten.columns
    = t('.title', :default => model_class.model_name.human.pluralize)
  .two.columns.action.hide
    %span.pretty.medium.primary.btn.entypo.icon-left.icon-list-add
      = link_to t('new', :default => t("helpers.links.new")), new_newsletter_path
  %hr.divider
.row
  .twelve.columns
    - unless !@newsletters_template.nil?
      %table.table.table-striped
        %thead
          %tr
            %th= "Bil"
            %th= t('.name')
            %th
        %tbody
          - @newsletters_templates.each_with_index do |newsletters_template, i|
            %tr
              %td= i+1
              %td= newsletters_template.name
              %td
                %span.small.pretty.btn.warning
                  = link_to t('.use_this'), use_template_path(newsletters_template)
    - else
      %h5 Templates not available!