- model_class = Newsletter
.row
  %h3.twelve.columns
    = t('.title', :default => model_class.model_name.human)
  %hr
.row
  .twelve.columns
    %p
      = link_to "Klik untuk prebiu buletin", show_email_path(@newsletter)
.row
  .twelve.columns
    = form_for '', url: send_user_newsletter_path(id: @newsletter.id) do |f|
      %ul
        - if current_user
          - if current_user.admin?
            %li.field
              .picker
                = select_tag 'newsletter_user_select', options_for_select([[t('.all_users'),'all_users'],[t('.members'),'members'], [t('.nonmembers'),'nonmembers'],[t('.users_by_program'), 'users_by_program'],[t('.users_by_course'),'users_by_course']])
        - elsif current_consultant
          %li.field
            .picker
              = select_tag 'newsletter_user_select', options_for_select([[t('.users_by_program'), 'users_by_program'],[t('.users_by_course'),'users_by_course']])
        - if current_consultant
          %li.field
            .picker
              = select_tag 'newsletter_program_select', options_for_select(current_consultant.programs.all.map{|a| [a.name, a.id]}), disabled: false
          %li.field
            .picker
              = select_tag 'newsletter_course_select', options_for_select(Course.where(program_id: current_consultant.programs.first.id).map{ |a| [a.name,a.id]}), disabled: true, class: 'hide'
        - else
          %li.field
            .picker
              = select_tag 'newsletter_program_select', options_for_select(Program.all.map{|a| [a.name, a.id]}), disabled: true, class: 'hide'
          %li.field
            .picker
              = select_tag 'newsletter_course_select', options_for_select(Course.where(program_id: Program.first.id).map{ |a| [a.name,a.id]}), disabled: true, class: 'hide'
        %li.field
          %span.medium.pretty.btn.warning
            / = f.submit t('send')
            %button{:onClick => 'submit();'}=t('send')
          %span.medium.pretty.btn.warning
            = link_to t('edit', :default => t("helpers.links.edit")), edit_newsletter_path(@newsletter)
          %span.medium.pretty.btn.default
            = link_to t('cancel', :default => t("helpers.links.cancel")), newsletters_path