- model_class = Newsletter
.row
  %h3.twelve.columns
    = t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human
  %small  
    = t('fill_all_fields_hint')
  %hr
.row
  .twelve.columns
    = form_for @newsletter, :html => { :class => 'form-horizontal' } do |f|
      %ul
        %li.field
          = f.label t('.subject')
          = f.text_field :subject, :class => 'text input input-xxlarge', :placeholder => t('.subject')
        %li.field
          = f.label t('.message')
          %small
            = "* Pastikan gambar dalam bentuk .jpg dan saiz dimension tidak melebihi 500x500"
          = f.text_area :message, :class => 'textarea redactor', :value => @newsletters_template.try(:template) || @newsletter.message
          - if current_consultant
            = f.hidden_field :consultant_id, value: current_consultant.id

        %li.field
          %span.medium.pretty.btn.warning
            / = f.submit t('.preview')
            %button{:onClick => 'submit();'}=t('.preview')
          %span.medium.pretty.btn.default
            = link_to t('cancel', :default => t("helpers.links.cancel")), newsletters_path
