.row
  = nested_form_for @program, :html => { :class => 'form-horizontal', multipart: true } do |f|
    %ul
      %li.field
        = f.label t('name')
        = f.text_field :name, :class => 'text input', :placeholder => ''
      %li.field
        = f.label 'Logo'
        = f.fields_for :logo do |l|
          = l.label 'Muatnaik logo' do
            = l.file_field :file, class: 'file input'
      %li.field
        = f.label t('description')
        = f.text_area :description, class: 'textarea input redactor', :placeholder => '', :rows => 5 
      %li.field
        = f.label t('status'), :class => "radio #{(@program.active? ? 'checked' : '')}" do
          = radio_button("program","active", true, :class => 'radio')
          %span
          = t('active')
        = f.label t('status'), :class => "radio #{(@program.active? ? '' : 'checked')}"  do
          = radio_button("program","active", false, :class => 'radio')
          %span
          = t('inactive')
      %li.field
        %h6
          Sasaran Kursus
    .table
      .row.table-head
        .four.columns
          = t('course_type')
        .three.columns
          Sasaran Bilangan Kursus
        .three.columns
          Sasaran Peserta Setiap Kursus
        .two.columns
          Tahun
      = f.fields_for :targets do |t|
        .row.table-data
          - disabled = (t.object.new_record? ? false : true)
          .four.columns
            = t.select :course_category_id, options_for_select(CourseCategory.all.map{ |a| [a.name, a.id] } ,t.object.course_category_id),{}, {disabled: disabled}
          .three.columns
            = t.text_field :number_of_courses, disabled: disabled
          .three.columns
            = t.text_field :target_attendance, disabled: disabled
          .two.columns
            = t.select :year, options_for_select((10.years.ago.year.to_i .. 20.years.from_now.year.to_i).to_a, t.object.year || Date.today.year),{}, {disabled: disabled}
      .row.table-data
        = f.link_to_add "Tambah Sasaran", :targets
    .row
      %ul
        %li.field
          %span.medium.pretty.btn.warning
            - if @program.new_record?
              %button{:onClick => 'submit();'}= t('register')
            - else
              / = f.submit t('update')
              %button{:onClick => 'submit();'}= t('update')
          %span.medium.pretty.btn.default
            = link_to t('cancel', :default => t("helpers.links.cancel")),
            programs_path