<%= nested_form_for @program, html: { multipart: true }, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label t('name'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class='control-group'>
    <%= f.fields_for :logo do |l| %>
      <%= l.label 'Muatnaik logo', class: 'control-label' %>
      <div class='controls'>
        <%= l.file_field :file, class: 'text-field' %>
      </div>
    <% end %>
  </div>
  <div class="control-group">
    <%= f.label t('description'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area_large' %>
    </div>
  </div>
  <!-- <div class="control-group">
    <%= f.label t('.courses'), :class => 'control-label' %>
    <%#= nested_form_for @courses, html: { multipart: true } do |c| %>
      <div class="controls">
        <%= f.fields_for :courses do |task_form| %>
          <p><%= task_form.text_field :name %>
          <%= task_form.link_to_remove "x", class: "btn" %></p>
        <% end %>
        <p><%= f.link_to_add t('.add_new_course'), :courses, class: "btn btn-mini" %></p>
      </div>
    <%# end %>
  </div> -->

  <div class="form-actions">
    <% if @program.new_record? %>
      <%= f.submit t('register'), :class => 'btn btn-primary' %>
    <% else %>
      <%= f.submit t('update'), :class => 'btn btn-primary' %>
    <% end %>
    <%= link_to t('cancel', :default => t("helpers.links.cancel")), programs_path, :class => 'btn' %>
  </div>
<% end %>
