<%= nested_form_for @program, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class='control-group'>
    <%= f.fields_for :logo do |l| %>
      <%= l.label 'Upload logo', class: 'control-label' %>
      <div class='controls'>
        <%= l.file_field :file, class: 'text-field' %>
      </div>
    <% end %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :courses, :class => 'control-label' %>
    <%#= nested_form_for @courses, html: { multipart: true } do |c| %>
      <div class="controls">
        <%= f.fields_for :courses do |task_form| %>
          <p><%= task_form.text_field :name %>
          <%= task_form.link_to_remove "Remove this course", class: "btn" %></p>
        <% end %>
        <p><%= f.link_to_add "Add a course", :courses %></p>
      </div>
    <%# end %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                programs_path, :class => 'btn' %>
  </div>
<% end %>
