<%- model_class = Program -%>
<div class="page-header">
  <h1><%=t '.title', program_name: @program.name %></h1>
</div>
<div>
  <% unless @program.logo.nil? %>
    <%= image_tag(@program.logo.file) %>
  <% end %>
</div>
<br/>
<div class='row-fluid'>
  <span class='3'><strong><%= t('description') %>:</strong></span>
  <span class='3'><%= @program.description.html_safe %></span>
</div>

<div class="form-actions">

  <%#= link_to t('back', :default => t("helpers.links.back")),
              programs_path, :class => 'btn'  %>
  <% if can? :manage, @program %>
    <%= link_to t('edit', :default => t("helpers.links.edit")),
                edit_program_path(@program), :class => 'btn medium pretty secondary' %>
    <%= link_to t('destroy', :default => t("helpers.links.destroy")),
                program_path(@program),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn medium pretty danger' %>
  <% end %>
</div>
