.row
  %h3.twelve.columns
    = t('.title', program_name: @program.name)
  %hr.divider
.row
  .twelve.columns
    -unless @program.logo.nil?
      .image
        = image_tag(@program.logo.file.thumb)
    %h5= t('description')
    %p
      = @program.description.html_safe
  %hr.divider
- if can? :manage, @program && !@program.targets.empty?
  .row
    %h5= "Sasaran Kursus"
    .twelve.columns
      .table
        .row.table-head
          .four.columns
            = t('course_type')
          .three.columns
            Sasaran Bilangan Kursus
          .three.columns
            Sasaran Peserta Setiap Kursus
          .two.columns
            Tahun
        - last_target = ''
        - @program.targets.each do |target|
          .row.table-data
            .four.columns
              = CourseCategory.find(target.course_category_id).name
            .three.columns
              = target.number_of_courses
            .three.columns
              = target.target_attendance
            .two.columns 
              = target.year
%hr.divider
.row
  .twelve.columns
    =t('status') + ":"
    = @program.active? ? t('active') : t('inactive')
  %hr.divider
.row
  .twelve.columns
    - if can? :manage, @program
      %span.medium.pretty.btn.warning
        = link_to t('edit', :default => t("helpers.links.edit")), edit_program_path(@program)
      %span.medium.pretty.btn.default
        = link_to t('destroy', :default => t("helpers.links.destroy")), program_path(@program),
          :method => 'delete',
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }