- model_class = PastAttendance
= form_tag '', method: :get do
  .row
    %h3.ten.columns
      = t('.title', :default => model_class.model_name.human.pluralize)
    .two.columns.action
      %span.medium.primary.btn.entypo.icon-left.icon-list-add
        = link_to t('upload'), '#'

.table
  .row.table-head
    .five.columns
      %h6.title= t('attendee')
    .three.columns
      %h6.title= t('program')
    .four.columns
      %h6.title= t('course')
  - @past_attendances.each_with_index do |past_attendance,i|
    .row.table-rows
      .five.columns
        %p
          = link_to "#{past_attendance.first_name} #{past_attendance.last_name}", '#', :class => 'name'
          = past_attendance.email
        .label.info
          %small
            = "#{t('ic_number')} :"
          = past_attendance.ic_number
        .label.info
          %small
            = "#{t('phone')} :"
          = past_attendance.phone
      .three.columns
        %p= past_attendance.program
      .four.columns
        %h6
          %strong
            = past_attendance.course
        .label.secondary
          %small
            = "#{t('venue')} :"
          = past_attendance.venue
        .label.secondary
          %small
            = "#{t('date_tarikh')} :"
          = "#{past_attendance.start_date} - #{past_attendance.end_date}"
.row
= form_for :past_attendance,  :url=>{:controller=>"past_attendances", :action=>"create"}, :html => { :multipart => true } do |f|
  = f.label 'Select a CSV file'  
  = f.file_field :file
  %span.medium.pretty.btn.primary
    = f.submit class: 'btn btn-mini'

=# link_to t('new_past_attendance'), new_past_attendance_path,:class => 'btn btn-primary'
