- model_class = PastAttendance
= form_tag '', method: :get do
  .row
    %h3.ten.columns
      = t('.title', :default => model_class.model_name.human.pluralize)


.row
= form_for :past_attendance,  :url=>{:controller=>"past_attendances", :action=>"create"}, :html => { :multipart => true } do |f|
  = f.label 'Select a CSV file'  
  = f.file_field :file
  %span.medium.pretty.btn.primary
    = f.submit class: 'btn btn-mini'

=# link_to t('new_past_attendance'), new_past_attendance_path,:class => 'btn btn-primary'
