<%= nested_form_for @user, :html => { :class => 'form-horizontal', multipart: true } do |f| %>
  <div class="control-group">
    <%= f.label t('first_name'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label t('last_name'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class='control-group'>
    <%= f.label t('gender') , class: 'control-label' %>
    <div class='controls'>
      <span>
        <p class="radio"><%= f.radio_button :gender, 'm' %>
        <%= t('male') %></p>
      </span>
      <span>
        <p class="radio"><%= f.radio_button :gender, 'f' %>
        <%= t('female') %></p>
      </span>
    </div>
  </div>
  <br/>
   <div class="control-group">
    <%= f.label t('email'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <% if @user.new_record? %>
    <div class="control-group">
      <%= f.label :password, t('password'), :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password_confirmation, t('password_confirmation'), :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password_confirmation, :class => 'text_field' %>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label t('ic_number'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ic_number, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label t('phone'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'text_field' %>
    </div>
  </div>
 
 
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
