<%= nested_form_for @user, :html => { :class => 'form-horizontal', multipart: true } do |f| %>
  <div class="control-group">
    <%= f.label t('first_name'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label t('last_name'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class='control-group'>
    <%= f.label t('gender') , class: 'control-label' %>
    <div class='controls'>
      <span>
        <p class="radio"><%= f.radio_button :gender, 'm' %>
        <%= t('male') %></p>
      </span>
      <br/>
      <span>
        <p class="radio"><%= f.radio_button :gender, 'f' %>
        <%= t('female') %></p>
      </span>
    </div>
  </div>
  <br/>
   <div class="control-group">
    <%= f.label t('email'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <% if @user.new_record? %>
    <div class="control-group">
      <%= f.label :password, t('password'), :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password_confirmation, t('password_confirmation'), :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password_confirmation, :class => 'text_field' %>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label t('ic_number'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ic_number, :class => 'text_field' %>
    </div>
  </div>
  <h5>Alamat Rumah</h5>
  <div id='user_address_fields'>
    <%= f.fields_for :address do |a| %>
      <%= render partial: 'address_fields', locals: { a: a} %>
    <% end %>
  </div>
  <div class="control-group">
    <%= f.label t('phone'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'text_field' %>
    </div>
  </div>
  <br>
  <div class='control-group'>
    <%= f.label t('.twitter_handle'), class: 'control-label' %>
    <div class='controls'>
      <%= f.text_field :twitter_handle, class: 'text_field' %>
    </div>
  </div>
  <div class='control-group'>
    <%= f.label t('.facebook_handle'), class: 'control-label' %>
    <div class='controls'>
      <%= f.text_field :facebook_handle, class: 'text_field' %>
    </div>
  </div>
  <br>
  <div class="control-group">
    <%= f.fields_for :profile_photo do |pp| %>
      <%= pp.label t('.upload_profile_photo'), :class => 'control-label' %>
      <div class="controls">
        <%= pp.file_field :file, :class => 'text_field' %>
      </div>
    <% end %>
  </div>
  <div class='control-group'>
    <%= f.label t('.education') , class: 'control-label' %>
      <div class='controls'>
        <%= f.fields_for :educations_users do |s| %>
        <div>
          <div>
            <%= s.select :education_id, options_for_select(Education.all.map{ |a| [a.name,a.id]}, s.object.education_id) %>
          </div>
          <div class='control-group'>
            <%= s.label t('description') %>
            <%= s.text_field :description %>
          </div>
          <div class='control-group'>
            <%= s.label t('start_date') %>
            <%= s.text_field :start_date %>
          </div>
          <div class='control-group'>
            <%= s.label t('end_date') %>
            <%= s.text_field :end_date %>
          </div>
        </div>
          <%= s.link_to_remove t('.remove_education') %>
        <% end %>
        <%= f.link_to_add t('.add_education'), :educations_users, class: "btn btn-mini" %>
      </div>

  </div>
  <div class='control-group'>
    <%= f.label t('.current_employment_status'), class: 'control-label' %>
    <div class='controls'>
      <%= f.select :current_employment_status, [[t('.employment_status.own_business'),'own business'],
                                                [t('.employment_status.working_studying'),'working studying'],
                                                [t('.employment_status.part_time_business'),'part time business']] %>
    </div>
  </div>
  <div class='control-group'>
    <%= f.label t('.skills') , class: 'control-label' %>
      <div class='controls'>
        <%= f.fields_for :users_skills do |s| %>
        <div>
          <div>
            <%= s.select :skill_id, options_for_select(Skill.all.map{ |a| [a.name,a.id]}, s.object.skill_id) %>
          </div>
          <div class='control-group'>
            <%= s.label t('description') %>
            <%= s.text_field :description %>
          </div>
          <div class='control-group'>
            <%= s.label t('.experience') %>
            <%= s.text_field :experience, { size: '2', maxlength: '2', class: 'input-mini' } %>
          </div>
        </div>
          <%= s.link_to_remove t('.remove_skill') %>
        <% end %>
        <%= f.link_to_add t('.add_skill'), :users_skills, class: "btn btn-mini" %>
      </div>

  </div>
  <div>
    <div class="control-group">
      <%= f.label t('.has_attended_course'), class: 'control-label'%>
      <div class='controls'>
        <%= f.check_box :has_attended_course, class: 'at_checkbox' %>
      </div>
    </div>
  </div>

  <div id='attended_course_fields'>

    <div class="control-group">
      <%= label '','program_id', class: 'control-label' %>
      <div class='controls'>
        <%= select_tag :program_id, options_for_select( Program.all.map{ |a| [a.name,a.id]},  ), class: 'text_field' %>
      </div>
    </div>

    <%= f.fields_for :previous_courses do |pc| %>
      <div class="control-group">
        <%= pc.label t('name'), class: 'control-label' %>
        <div class="controls">
          <%= pc.text_field :name, class: 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= pc.label t('venue'), class: 'control-label' %>
        <div class="controls">
          <%= pc.text_field :venue, class: 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= pc.label t('start_date'), class: 'control-label' %>
        <div class="controls">
          <%= pc.text_field :start_date, class: 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= pc.label t('end_date'), class: 'control-label' %>
        <div class="controls">
          <%= pc.text_field :end_date, class: 'text_field' %>
        </div>
      </div>

    <% end %>
  </div>

  <div>
    <div class="control-group">
      <%= f.label t('.has_business_profile'), class: 'control-label'%>
      <div class='controls'>
        <%= f.check_box :has_business_profile, class: 'bp_checkbox' %>
      </div>
    </div>
  </div>
  <div id='business_fields'>
    <%= f.fields_for :business_profile do |bp| %>
      <div class="control-group">
        <%= bp.label t('category'), class: 'control-label' %>
        <div class="controls">
          <%= select("user[business_profile_attributes]", "category", BUSINESS_CATEGORIES, {:selected=> @user.business_profile.category, :include_blank => false}) %>
        </div>
      </div>
      <div class="control-group">
        <%= bp.label t('.type_of_business'), class: 'control-label' %>
        <div class="controls">
          <%= bp.text_field :type_of_business, class: 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= bp.label t('.company_name'), class: 'control-label' %>
        <div class="controls">
          <%= bp.text_field :company_name, class: 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= bp.label t('description'), class: 'control-label' %>
        <div class="controls">
          <%= bp.text_area :description, class: 'text_area' %>
        </div>
      </div>
      <div class="control-group">
        <%= bp.fields_for :business_logo do |bpl| %>
          <div class='control-group'>
            <%= bpl.label t('upload_business_logo'), class: 'control-label' %>
            <div class='controls'>
              <%= bpl.file_field :file , class: 'text-field' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="control-group">
        <%= bp.fields_for :business_photo do |bph| %>
          <div class='control-group'>
            <%= bph.label t('upload_business_photo'), class: 'control-label' %>
            <div class='controls'>
              <%= bph.file_field :file , class: 'text-field' %>
            </div>
          </div>
        <% end %>
      </div>

      <h5>Business Address</h5>

      <div id='business_address_fields'>
        <%= bp.fields_for :address do |a| %>
          <%= render partial: 'address_fields', locals: { a: a} %>
        <% end %>
      </div>
      <div class='control-group'>
        <%= bp.label t('.business_registered'), class: 'control-label' %>
        <div class='controls'>
          <%= bp.check_box :business_registered %>
        </div>
      </div>
      <div id='registration_number_field' class="control-group">
        <%= bp.label :registration_number, class: 'control-label' %>
        <div class="controls">
          <%= bp.text_field :registration_number, class: 'text_field' %>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="form-actions">
    <%= f.submit t('.update_user'), :class => 'btn btn-primary' %>
    <%= link_to t('cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
