- model_class = User
.row
  %h3.twelve.columns
    = t('.title')
  .two.columns.action.hide
    - if current_user
      %span.pretty.medium.primary.btn.entypo.icon-left.icon-list-add
        = link_to t('contact'), edit_user_path(@user)
  %hr.divider
.row
  .two.columns.center
    .image.avatar
      - unless @user.profile_photo.nil?
        = image_tag (@user.profile_photo.file), size: '70x70'
      - else
        = image_tag('http://flickholdr.com/70/70/avatar', size: '70x70')
    .row.social.hide
      %a{:href => "http://twitter.com/#{@user.twitter_handle}", :title => @user.twitter_handle}
        %i.icon-twitter-circled
      %a{:href => "http://facebook.com/#{@user.facebook_handle}", :title => @user.facebook_handle}
        %i.icon-facebook-circled
  .ten.columns
    %h5
      = @user.full_name
    .email.row
      %span.ten.columns
        = @user.email
    .phone.row
      .six.columns
        %small.label.info=t('mobile_phone')
        = @user.phone
    .phone.row
      .six.columns
        %small.label.info.entypo.icon-left.icon-phone
          = t('office')
        = @user.office_phone
  %hr.divider
.row
  .twelve.columns
    %table.table.strip
      %tbody
        %tr
          %th{:colspan => 2}
            %h5=t('.staff_details')
        %tr
          %th= t('staff_number')
          %td= @user.staff_number
        %tr
          %th= t('ic_number')
          %td= @user.ic_number
        %tr
          %th= t('section')
          %td= @user.section
        %tr
          %th= t('unit')
          %td= @user.unit
.row
  .twelve.columns
    %span.medium.pretty.btn.warning
      = link_to t('edit', :default => t("helpers.links.edit")), edit_user_path(@user)