- model_class = User
.row
  %h3.nine.columns
    = t('.title')
  .three.columns.action
    - if can? :manage, @user
      %span.pretty.medium.primary.btn.entypo.icon-left.icon-list-add
        = link_to t('edit', :default => t("helpers.links.edit")), edit_user_path
  %hr.divider
.row
  .two.columns.center
    .image.avatar
      - unless @user.profile_photo.nil?
        = image_tag(@user.profile_photo.file, size: '70x70')
      - else
        = image_tag('http://flickholdr.com/70/70/avatar', size: '70x70')
    .row.social
      %a{:href => "http://twitter.com/#{@user.twitter_handle}", :title => @user.twitter_handle}
        %i.icon-twitter-circled
      %a{:href => "http://facebook.com/#{@user.facebook_handle}", :title => @user.facebook_handle}
        %i.icon-facebook-circled
  .ten.columns
    %h5
      = @user.full_name
      %small
        - if @user.membership
          = image_tag("#{@user.membership.category}.png", :width => '24', :height => 'auto') unless @user.membership.category.nil?
    .gender.row
      - if @user.gender == 'm'
        %span.ten.columns Lelaki
      - elsif @user.gender == 'f'
        %span.ten.columns Perempuan
      - else
        %span.ten.columns Nil
    .age.row
      %span.ten.columns= @user.age
    .phone.row
      - if can? :manage , @user
        %span.ten.column= "(+6)#{@user.phone}"

.row
  .twelve.columns
  %hr.divider
    .row
      %section.pill.tabs
        %ul.tab-nav
          %li.active
            = link_to 'Informasi', '#'
          - unless @user.business_profiles.empty?
            %li
              = link_to 'Perniagaan 1', '#'
            %li
              = link_to 'Perniagaan 2', '#'
            %li
              = link_to 'Perniagaan 3', '#'
        .tab-content.active
          %h5 Latar Belakang Individu
          %hr.divider
          %table.table.strip
            %tbody
              %tr
                %th= t('membership_status')
                %td= @user.is_member? ? "Disahkan" : "Belum Disahkan"
              - if @user.is_member?
                %tr
                  %th= t('membership_num')
                  %td= @user.membership.member_number
              - if can? :manage, @user
                %tr
                  %th= t('ic_number')
                  %td= @user.ic_number
              %tr
                %th= t('address')
                %td
                  - if !@user.address.nil?
                    - if !@user.try(:address).try(:line1).try(:blank?)
                      = @user.address.line1
                      = @user.address.line2
                      = unless @user.address.city.nil? then @user.address.city.name end
                      = @user.address.postcode
                      = @user.address.city.state_name unless @user.address.city.nil?
                    - else
                      NIL
                  - else
                    NIL
              %tr
                %th= t('.current_employment_status')
                - status = @user.current_employment_status
                %td= t(".employment_status.#{status}") unless @user.current_employment_status.blank?
              - if can? :manage, :all
                %tr
                  %th= t('status')
                  %td= @user.is_active? ? t('active') : t('inactive')
              %tr
                %th Program
                %td
                  %ul
                    - @user.programs.uniq.each do |program|
                      %li= program.name
          %h5 Latar Belakang Pendidikan
          %hr.divider
          %table.table.strip
            %tbody
              - @user.education_background.each_with_index do |background, i|
                %tr
                  %td{:width => 30}
                    %p="#{i+1}."
                  %td
                    %p= "#{background.education.name}"
                  %td
                    .row
                      .six.columns
                        %small.label.info
                          Mula :
                          = "#{background.start_date}"
                      .six.columns
                        %small.label.info
                          Akhir :
                          = "#{background.end_date}"
          %h5 Kemahiran
          %hr.divider
          %table.table.strip
            %tbody
              - @user.experience.each_with_index do |experience, i|
                %tr
                  %td{:width => 30}
                    %p="#{i+1}."
                  %td
                    - years = experience.experience.nil? ? '' : ", #{experience.experience} #{t('years')}"
                    %p= "#{experience.skill.name} #{years}"
        - @user.business_profiles.each do |bp|
          .tab-content
            %table.table.strip
              %tbody
                - if !bp.company_name.blank?
                  %tr
                    %td
                      %h5 Informasi Perniagaan
                      %hr.divider
                      .row
                        .four.columns
                          - unless bp.business_logo.nil?
                            / = bp.business_photo.caption
                            - unless bp.business_logo.file.nil?
                              = image_tag(bp.business_logo.file, :size => '150x150')
                        .eight.columns
                          %table.table.strip
                            %tbody
                              %tr
                                %th= t('.company_name')
                                %td= bp.company_name unless bp.nil?
                              %tr
                                %th= t('address')
                                %td= bp.full_business_address
                              %tr
                                %th= t('office_phone')
                                %td= bp.phone
                              %tr
                                %th= t('description')
                                %td= bp.description unless bp.nil?
                              %tr
                                %th= t('category')
                                %td= bp.category unless bp.nil?
                              %tr
                                %th= t('.type_of_business')
                                %td= bp.type_of_business unless bp.nil?
                              %tr
                                %th= t('.company_registration_number')
                                %td= bp.registration_number unless bp.nil?
                              - unless bp.business_photo.nil?
                                - unless bp.business_photo.file.nil?
                                  %tr
                                    %td{:colspan => "2"}= image_tag(bp.business_photo.file, :size => '250x250')
                                  %tr
                                    %th Penerangan Gambar
                                    %td= bp.business_photo.caption
                              %tr
                                %th= t('.customers1') unless bp.customer1.nil?
                                %td= bp.customer1 unless bp.nil?
                              %tr
                                %th= t('.customers2') unless bp.customer2.nil?
                                %td= bp.customer2 unless bp.nil?
                              %tr
                                %th= t('.customers3') unless bp.customer3.nil?
                                %td= bp.customer3 unless bp.nil?
