- model_class = User
.row
  %h3.nine.columns
    = t('.title')
  .three.columns.action
    - if can? :manage, @user
      %span.pretty.medium.primary.btn.entypo.icon-left.icon-list-add
        = link_to t('edit', :default => t("helpers.links.edit")), edit_user_path
  %hr.divider
.row
  .two.columns.center
    .image.avatar
      - unless @user.profile_photo.nil?
        = image_tag(@user.profile_photo.file, size: '70x70')
      - else
        = image_tag('http://flickholdr.com/70/70/avatar', size: '70x70')
    .row
      %a{:href => "http://twitter.com/#{@user.twitter_handle}", :title => @user.twitter_handle}
        %i.icon-twitter
      %a{:href => "http://facebook.com/#{@user.facebook_handle}", :title => @user.facebook_handle}
        %i.icon-facebook
  .ten.columns
    %h5
      = @user.full_name
      %small
        - if @user.membership
          = image_tag("#{@user.membership.category}.png") unless @user.membership.category.nil?
    .gender.row
      - if @user.gender == 'm'
        %span.ten.columns Lelaki
      - elsif @user.gender == 'f'
        %span.ten.columns Perempuan
      - else
        %span.ten.columns Nil
    .age.row
      %span.ten.columns= @user.age
    .phone.row
      %span.ten.column= "(+6)#{@user.phone}"

.row
  .twelve.columns
  %hr.divider
    .row
      %section.pill.tabs
        %ul.tab-nav
          %li.active
            = link_to 'Latar Belakang Individu', '#'
          - unless @user.education_background.empty?
            %li
              = link_to 'Latar Belakang Pendidikan', '#'
          - unless @user.experience.empty?
            %li
              = link_to 'Kemahiran', '#'
          - unless @user.business_profiles.empty?
            %li
              = link_to 'Maklumat Perniagaan', '#'
        .tab-content.active
          %table.table.strip
            %tbody
              %tr
                %th= t('membership_status')
                %td= @user.confirmed? ? "Unconfirmed" : "Confirmed"
              %tr
                %th= t('ic_number')
                %td= @user.ic_number
              %tr
                %th= t('address')
                %td
                  - if !@user.address.nil?
                    - if !@user.try(:address).try(:line1).try(:blank?)
                      = @user.address.line1
                      = @user.address.line2
                      = unless @user.address.city.nil? then @user.address.city.name end
                      = @user.address.postcode
                      = @user.address.city.state_name unless @user.address.city.nil?
                    - else
                      NIL
                  - else
                    NIL
              %tr
                %th= t('.current_employment_status')
                - status = @user.current_employment_status
                %td= t(".employment_status.#{status}") unless @user.current_employment_status.blank?
              %tr
                %th Program
                %td
                  %ul
                    - @user.programs.each do |program|
                      %li= program.name
        - unless @user.education_background.empty?
          .tab-content
            %table.table.strip
              %tbody
                - @user.education_background.each do |background|
                  %tr
                    %td
                      = "#{background.education.name}"
                    %td
                      = "#{background.start_date} - #{background.end_date}"
        - unless @user.experience.empty?
          .tab-content
            %table.table.strip
              %tbody
                - @user.experience.each do |experience|
                  %tr
                    %td
                      - years = experience.experience.nil? ? '' : ", #{experience.experience} #{t('years')}"
                      = "#{experience.skill.name} #{years}"
        - unless @user.business_profiles.empty?
          .tab-content
            %table.table.strip
              %tbody
                - @user.business_profiles.each do |bp|
                  - if !bp.company_name.blank?
                    %tr
                      %th{:colspan => "2"}
                        %center
                          %td= bp.business_photo.caption
                          - unless bp.business_logo.nil?
                            - unless bp.business_logo.file.nil?
                              = image_tag(bp.business_logo.file, :size => '150x150')
                    %tr
                      %th= t('.company_name')
                      %td= bp.company_name unless bp.nil?
                    %tr
                      %th= t('address')
                      %td= bp.full_business_address
                    %tr
                      %th= t('office_phone')
                      %td= bp.phone
                    %tr
                      %th= t('description')
                      %td= bp.description unless bp.nil?
                    %tr
                      %th= t('category')
                      %td= bp.category unless bp.nil?
                    %tr
                      %th= t('.type_of_business')
                      %td= bp.type_of_business unless bp.nil?
                    %tr
                      %th= t('.company_registration_number')
                      %td= bp.registration_number unless bp.nil?
                    - unless bp.business_photo.nil?
                      - unless bp.business_photo.file.nil?
                        %tr
                          %td{:colspan => "2"}= image_tag(bp.business_photo.file, :size => '250x250')
                        %tr
                        %th Penerangan Gambar
