<%- model_class = User -%>
<div class="page-header">
  <h1><%= t('.title') %></h1>
</div>

<div class="container">
  <div class="row wrapper">
    <div class="span7 border-right">
      <div class="row border-bottom">
        <div class="span3 border-right container">
          <div class="whitespace">
            <span class="aleft">
              <% unless @user.profile_photo.nil? %>
                <%= debug @user.profile_photo %>
                <%#= image_tag(@user.profile_photo.file, size: '70x70') %>
              <% end %>
            </span>
            <span class="aright">
              <div id="name"><%= @user.full_name %></div>
              <span>
              <b><%= t('gender') %></b> 
              <% if @user.gender == 'm' %>
                Lelaki
              <% elsif @user.gender == 'f' %>
                Perempuan
              <% else %>
                nil
              <% end %><br>
              <b><%= t('age') %></b> <%= @user.age %>
              </span>
            </span>
          </div>
          
        </div>
        <div class="span2">
          <div class="whitespace">
              <b>T</b>
                <% if @user.twitter_handle.blank? %>
                  NIL
                <% else %>
                  <a href="http://twitter.com/<%= @user.twitter_handle %>" title=""><%= @user.twitter_handle %></a>
                <% end %><br>
           
              <b>F</b>
                <% if @user.facebook_handle.blank? %>
                  NIL
                <% else %>
                  <a href="http://facebook.com/<%= @user.facebook_handle %>" title=""><%= @user.facebook_handle %></a>
                <% end %><br>
              
              <b>P</b>
                <% if @user.phone.blank? %>
                <% else %>
                  <%= @user.phone %></td>
                <% end %>
          </div>
        </div>
        <div class='span1'>
          <div class="whitespace">
            <% if @user.membership %>

              <%= image_tag("#{@user.membership.category}.png") unless @user.membership.category.nil? %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <table class="table">
          <tr><th colspan="2" class="header">Latar Belakang Individu</th></tr>
          <tr>
            <th><%= t('membership_status') %></th>
            <td><%= @user.confirmed? ? "Unconfirmed" : "Confirmed"  %></td>
          </tr>
          <tr>
            <th><%= t('ic_number') %></th>
            <td><%= @user.ic_number %></td>
          </tr>
          <tr>
            <th><%= t('address') %></th>
            <td>
              <% if !@user.address.nil? %>
                <% if !@user.try(:address).try(:line1).try(:blank?)  %>
                <%= @user.address.line1 %> <%= @user.address.line2 %> <%= unless @user.address.city.nil? then @user.address.city.name end %> <%= @user.address.postcode %> <%= @user.address.city.state_name unless @user.address.city.nil?%>
                <% else %>
                  NIL
                <% end %>
              <% else %>
                NIL
              <% end %>
            </td>
          </tr>
          <tr>
            <th><%= t('.current_employment_status') %></th>
            <% status = @user.current_employment_status %>
            <td><%= t(".employment_status.#{status}") unless @user.current_employment_status.blank? %></td>
          </tr>
          <tr>
            <th>Program</th>
            <td>
              <ul>
                <% @user.programs.each do |program| %>
                  <li><%= program.name %></li>
                <% end %>
              </ul>
            </td>
          </tr>
        </table><br><br><br><br>
        </div>
        <div class="span3" style="margin-left:-5px;">
          <% unless @user.education_background.empty? %>
            <table class="table">
              <tr><th colspan="2" class="header">Latar Belakang Pendidikan</th></tr>
              <% @user.education_background.each do |background| %>
                <tr>
                  <td>
                    <%= "#{background.education.name}" %>
                  </td>
                  <td>
                    <%= "#{background.start_date} - #{background.end_date}" %>
                  </td>
                </tr>
              <% end %>
            </table>
          <% end %> 

          <% unless @user.experience.empty? %>
          <table class="table">
            <tr><th colspan="2" class="header">Kemahiran</th></tr>
            <% @user.experience.each do |experience| %>
              <tr>
                <td>
                  <% years = experience.experience.nil? ? '' : ", #{experience.experience} #{t('years')}" %>
                  <%= "#{experience.skill.name} #{years}" %>
                </td>
              </tr>
            <% end %>
          </table>
        <% end %> 

        </div>

     
      </div>
    </div>
    <div class="span4">
      <div class="">
        <table class="table">
        <tr><th colspan="2" class="header">Maklumat Perniagaan</th></tr>
        <% unless @user.business_profiles.empty? %>
          <% @user.business_profiles.each do |bp| %>
           <% if !bp.company_name.blank? %>
            <tr><th colspan="2"><center>

                  <% unless bp.business_logo.nil? %>
                    <%# unless bp.business_logo.file.nil? %><%#= image_tag(bp.business_logo.file, :size => '150x150') %><% end %>
                  <% end %>
               

            </center></th></tr>
   
              <tr>
                <th><%= t('.company_name') %></th>
                <td><%= bp.company_name unless bp.nil? %></td>
              </tr>
              <tr>
                <th><%= t('address') %></th>
                <td><%= bp.full_business_address%></td>
              </tr>
              <tr>
                <th><%= t('office_phone') %></th>
                <td><%= bp.phone %></td>
              </tr>
              <tr>
                <th><%= t('description') %></th>
                <td><%= bp.description unless bp.nil? %></td>
              </tr>
              <tr>
                <th><%= t('category') %></th>
                <td><%= bp.category unless bp.nil?%></td>
              </tr>
              <tr>
                <th><%= t('.type_of_business') %></th>
                <td><%= bp.type_of_business unless bp.nil?%></td>
              </tr>
              <tr>
                <th><%= t('.company_registration_number') %></th>
                <td><%= bp.registration_number unless bp.nil?%></td>
              </tr>
              <% unless bp.business_photo.nil? %>
                <%# unless bp.business_photo.file.nil?%>
                  <tr><td colspan="2"><%#= image_tag(bp.business_photo.file, :size => '250x250') %></td></tr>
                  <tr>
                    <th>Penerangan Gambar</th>
                    <td><%= bp.business_photo.caption %></td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </table>
      </div>

      
    </div>
  </div>
</div>



<% if can? :manage, @user %>
  <div class="form-actions">
    <%#= link_to t('.back', :default => t("helpers.links.back")),
                users_path, :class => 'btn'  %>
    <%= link_to t('edit', :default => t("helpers.links.edit")),
                edit_user_path(@user), :class => 'btn btn-flat' %>
    <%#= link_to t('destroy', :default => t("helpers.links.destroy")),
                user_path(@user),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  </div>
<% end %>
