<%- model_class = User -%>
<style>
  .content{ padding-left: 10px;}
  table tr th {width: 140px;}
  .table td {padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 0 solid #dddddd;
}
  .table th { border-top: 0 solid #dddddd; }
</style>
<div class="page-header">
  <h1><%= t('.title') %></h1>
</div>

<div>
  
  <div class="row">
    <div class="span4">
      <div>
        <h1><b><%= @user.full_name %></b></h1>
      </div>
      <div class="content">
        <table class="table">
          <tr>
            <th><%= t('membership_status') %></th>
            <td><%= @user.confirmed? ? "Unconfirmed" : "Confirmed"  %></td>
          </tr>
          <tr>
            <th><%= t('age') %></th>
            <td><%= @user.age %></td>
          </tr>
          <tr>
            <th><%= t('gender') %></th>
            <td>
              <% if @user.gender == 'm' %>
                Lelaki
              <% elsif @user.gender == 'f' %>
                Perempuan
              <% else %>
                nil
              <% end %>
            </td>
          </tr>
          <tr>
            <th><%= t('ic_number') %></th>
            <td><%= @user.ic_number %></td>
          </tr>
          <tr>
            <th><%= t('phone_number') %></th>
            <td>
              <% if @user.phone.blank? %>
                NIL
              <% else %>
                <%= @user.phone %></td>
              <% end %>
          </tr>
          <tr>
            <th><%= t('address') %></th>
            <td>
              <% unless @user.address.nil? %>
                <%= @user.address.line1 %> <%= @user.address.line2 %>, <%= unless @user.address.city.nil? then @user.address.city.name end %> <%= @user.address.postcode %>, <%= @user.address.city.state_name unless @user.address.city.nil?%>
              <% end %>
            </td>
          </tr>
          <tr>
            <th><%= t('.current_employment_status') %></th>
            <td><%= @user.current_employment_status %></td>
          </tr>
        </table>

        <!-- <div>
           <strong><%= t('membership_status') %>:</strong> <%= @user.confirmed? ? "Unconfirmed" : "Confirmed"  %>
        </div>
        <div>
          <strong><%= t('age') %>:</strong> <%= @user.age %>
        </div>
        <div>
          <strong><%= t('gender') %>:</strong> 
          <% if @user.gender == 'm' %>
            Lelaki
          <% elsif @user.gender == 'f' %>
            Perempuan
          <% else %>
            nil
          <% end %>
        </div>
        <div>
            <strong><%= t('ic_number') %>:</strong> <%= @user.ic_number %>
        </div>
        <div>
            <strong><%= t('phone_number') %>:</strong> <%= @user.phone %>
        </div>
        <% unless @user.address.nil? %>
          <div>
              <strong><%= t('address') %>:</strong> <%= @user.address.line1 %> <%= @user.address.line2 %>, <%= @user.address.city.name %> <%= @user.address.postcode %>, <%= @user.address.city.state_name unless @user.address.city.nil?%>
          </div>
        <% end %>

        <div>
          <strong><%= t('.current_employment_status') %>:</strong> <%= @user.current_employment_status %>
        </div> -->
      </div>
    </div>
    <div class="span3 offset1">
      <% unless @user.profile_photo.nil? %>
        <%= image_tag(@user.profile_photo.file, size: '300x300', :style => 'padding: 8px;box-shadow: 0 0 3px #888;') %>
      <% end %>
    </div>
  </div>

  <h3>Jaringan Media Sosial</h3>
  <div class="content">
    <table class="table">
      <tr>
        <th><%= t('.twitter_handle') %></th>
        <td>
          <% if @user.twitter_handle.blank? %>
            NIL
          <% else %>
            <a href="http://twitter.com/<%= @user.twitter_handle %>" title=""><%= @user.twitter_handle %></a>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= t('.facebook_handle') %></th>
        <td>
          <% if @user.facebook_handle.blank? %>
            NIL
          <% else %>
            <a href="http://facebook.com/<%= @user.facebook_handle %>" title=""><%= @user.facebook_handle %></a>
          <% end %>
        </td>
      </tr>
    </table>
    <!-- <div>
      <strong><%= t('.twitter_handle') %>:</strong> <%= @user.twitter_handle %>
    </div>

    <div>
      <strong><%= t('.facebook_handle') %>:</strong> <%= @user.facebook_handle %>
    </div> -->
  </div>

  <h3>Latar Belakang Pendidikan</h3>
  <div class="content">
    <div>
      <%# @user.each do |user| %>
        <%= @user.educations %>(<%#= @user.skills.experience %> tahun)
      <%# end %>
    </div>
  </div>

  <h3>Kemahiran</h3>
  <div class="content">
    <div>
      <%# @user.each do |user| %>
        <%= @user.skills %>(<%#= @user.skills.experience %> tahun)
      <%# end %>
    </div>
  </div>

  <h3>Maklumat Perniagaan</h3>
  <div class="content">
    <% if @user.has_business_profile? %>
      <% unless @user.business_profile.business_photo.nil? %>
        <%= image_tag(@user.business_profile.business_photo.file) %>
      <% end %>
      <% unless @user.business_profile.business_logo.nil? %>
        <%= image_tag(@user.business_profile.business_logo.file) %>
      <% end %>

      <table class="table">
        <tr>
          <th><%= t('.company_name') %></th>
          <td><%= @user.business_profile.company_name%></td>
        </tr>
        <tr>
          <th><%= t('address') %></th>
          <td><%= @user.full_business_address %></td>
        </tr>
        <tr>
          <th><%= t('description') %></th>
          <td><%= @user.business_profile.description%></td>
        </tr>
        <tr>
          <th><%= t('category') %></th>
          <td><%= @user.business_profile.category %></td>
        </tr>
        <tr>
          <th><%= t('type_of_business') %></th>
          <td><%= @user.business_profile.type_of_business %></td>
        </tr>
        <tr>
          <th><%= t('.company_registration_number') %></th>
          <td><%= @user.business_profile.registration_number%></td>
        </tr>
      </table>
      <!-- <div>
        <strong><%= t('.company_name') %>:</strong><%= @user.business_profile.company_name%>
      </div>
      <div>
        <strong><%= t('address') %>:</strong> <%= @user.full_business_address %>
      </div>
      <div>
        <strong><%= t('description') %>:</strong><%= @user.business_profile.description%>
      </div>
      <div>
        <strong><%= t('category') %>:</strong><%= @user.business_profile.category %>
      </div>
      <div>
        <strong><%= t('.type_of_business') %>:</strong><%= @user.business_profile.type_of_business %>
      </div>
      <div>
        <strong><%= t('.company_registration_number') %> :</strong><%= @user.business_profile.registration_number%>
      </div> -->
    <% end %>
  </div>

   
</div>

<% if can? :manage, @user %>
  <div class="form-actions">
    <%#= link_to t('.back', :default => t("helpers.links.back")),
                users_path, :class => 'btn'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_user_path(@user), :class => 'btn' %>
    <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
                user_path(@user),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  </div>
<% end %>
