<%- model_class = User -%>
<div class="page-header">
  <h1><%= t('.title') %></h1>
</div>

<div>
  <% unless @user.profile_photo.nil? %>
    <%= image_tag(@user.profile_photo.file, size: '300x300') %>
  <% end %>

  <h2><%= t('.sub_title') %></h2><br>
  <div>
    <strong><%= t('name') %>:</strong> <%= @user.full_name %>
  </div>

  <div>
    <strong><%= t('email') %>:</strong> <%= @user.email %>
  </div>
  <div>
      <strong><%= t('ic_number') %>:</strong> <%= @user.ic_number %>
  </div>
  <div>
    <strong><%= t('age') %>:</strong> <%= @user.age %>
  </div>
  <% unless @user.address.nil? %>
    <div>
        <strong><%= t('address') %>:</strong> <%= @user.address.line1 %> <%= @user.address.line2 %>, <%= @user.address.city.name %> <%= @user.address.postcode %>, <%= @user.address.city.state_name unless @user.address.city.nil?%>
    </div>
  <% end %>
  <div>
      <strong><%= t('phone_number') %>:</strong> <%= @user.phone %>
  </div>
  <div>
     <strong><%= t('membership_status') %>:</strong> <%= @user.confirmed? ? "Unconfirmed" : "Confirmed"  %>
  </div>

 <!--  <% if @user.has_attended_course? %>
    <br/>
    <div>
      <strong>Attended Course:</strong><%= @user.attended_course %>
    </div>
  <% end %>  -->

  <% if @user.has_business_profile? %>
    <br/>
    <% unless @user.business_profile.business_photo.nil? %>
      <%= image_tag(@user.business_profile.business_photo.file) %>
    <% end %>
    <% unless @user.business_profile.business_logo.nil? %>
      <%= image_tag(@user.business_profile.business_logo.file) %>
    <% end %>
    <div>
      <h2><%= t('.business_profile') %></h2><br/>
    </div>
    <div>
      <strong><%= t('category') %>:</strong><%= @user.business_profile.category %>
    </div>
    <div>
      <strong><%= t('.type_of_business') %>:</strong><%= @user.business_profile.type_of_business %>
    </div>
    <div>
      <strong><%= t('.company_name') %>:</strong><%= @user.business_profile.company_name%>
    </div>
    <div>
      <strong><%= t('description') %>:</strong><%= @user.business_profile.description%>
    </div>
    <div>
      <strong><%= t('.company_registration_number') %> :</strong><%= @user.business_profile.registration_number%>
    </div>
    <br/>
    <% if @user.business_profile.address.line2.blank? %>
      <strong><%= t('address') %>:</strong> <%= @user.business_profile.address.line1 %>
    <% else %>
      <div>
          <strong><%= t('address') %> 1:</strong> <%= @user.business_profile.address.line1 %>
      </div>
      <div>
          <strong><%= t('address') %> 2:</strong> <%= @user.business_profile.address.line2 %>
      </div>
    <% end %>
  <div>
      <strong><%= t('city') %>:</strong> <%= @user.business_profile.address.city.name unless @user.business_profile.address.city.nil? %>
  </div>
  <div>
     <strong><%= t('postcode') %>:</strong> <%= @user.business_profile.address.postcode %>
  </div>
  <div>
     <strong><%= t('state') %>:</strong> <%= @user.business_profile.address.city.state_name unless @user.business_profile.address.city.nil?%>
  </div>
 <div>
  <% end %> 
 

</div>

<% if can? :manage, @user %>
  <div class="form-actions">
    <%#= link_to t('.back', :default => t("helpers.links.back")),
                users_path, :class => 'btn'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_user_path(@user), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                user_path(@user),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  </div>
<% end %>
