<%- model_class = User -%>
<style>
  .content{ padding-left: 10px;}
  table tr th {width: 140px;}
  .table td {padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 0 solid #dddddd;
}
  .table th { border-top: 0 solid #dddddd; }
</style>
<div class="page-header">
  <h1><%= t('.title') %></h1>
</div>

<div class="container">
  <div class="row wrapper">
    <div class="span7 border-right">
      <div class="row border-bottom">
        <div class="span3 border-right container">
          <div class="whitespace">
            <span class="aleft">
              <% unless @user.profile_photo.nil? %>
                <%= image_tag(@user.profile_photo.file, size: '70x70') %>
              <% end %>
            </span>
            <span class="aright">
              <div id="name"><%= @user.full_name %></div>
              <span>
              <b><%= t('gender') %></b> 
              <% if @user.gender == 'm' %>
                Lelaki
              <% elsif @user.gender == 'f' %>
                Perempuan
              <% else %>
                nil
              <% end %><br>
              <b><%= t('age') %></b> <%= @user.age %>
              </span>
            </span>
          </div>
          
        </div>
        <div class="span3">
          <div class="whitespace">
              <b>T</b>
                <% if @user.twitter_handle.blank? %>
                  NIL
                <% else %>
                  <a href="http://twitter.com/<%= @user.twitter_handle %>" title=""><%= @user.twitter_handle %></a>
                <% end %><br>
           
              <b>F</b>
                <% if @user.facebook_handle.blank? %>
                  NIL
                <% else %>
                  <a href="http://facebook.com/<%= @user.facebook_handle %>" title=""><%= @user.facebook_handle %></a>
                <% end %><br>
              
              <b>P</b>
                <% if @user.phone.blank? %>
                <% else %>
                  <%= @user.phone %></td>
                <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <table class="table">
          <tr><th colspan="2" class="header">Latar Belakang Individu</th></tr>
          <tr>
            <th><%= t('membership_status') %></th>
            <td><%= @user.confirmed? ? "Unconfirmed" : "Confirmed"  %></td>
          </tr>
          <tr>
            <th><%= t('ic_number') %></th>
            <td><%= @user.ic_number %></td>
          </tr>
          <tr>
            <th><%= t('address') %></th>
            <td>
              <% unless @user.address.nil? %>
                <%= @user.address.line1 %> <%= @user.address.line2 %>, <%= unless @user.address.city.nil? then @user.address.city.name end %> <%= @user.address.postcode %>, <%= @user.address.city.state_name unless @user.address.city.nil?%>
              <% end %>
            </td>
          </tr>
          <tr>
            <th><%= t('.current_employment_status') %></th>
            <td><%= @user.current_employment_status %></td>
          </tr>
        </table><br><br><br><br>

        </div>
        <div class="span3" style="margin-left:-5px;">
          <% unless @user.education_background.empty? %>
            <table class="table">
              <tr><th colspan="2" class="header">Latar Belakang Pendidikan</th></tr>
              <% @user.education_background.each do |background| %>
                <tr>
                  <td>
                    <%= "#{background.education.name}" %>
                  </td>
                  <td>
                    <%= "#{background.start_date.try(:to_date)} - #{background.end_date.try(:to_date)}" %>
                  </td>
                </tr>
              <% end %>
            </table>
          <% end %> 

          <% unless @user.experience.empty? %>
          <table class="table">
            <tr><th colspan="2" class="header">Kemahiran</th></tr>
            <% @user.experience.each do |experience| %>
              <tr>
                <td>
                  <% years = experience.experience.nil? ? '' : ", #{experience.experience} #{t('years')}" %>
                  <%= "#{experience.skill.name} #{years}" %>
                </td>
              </tr>
            <% end %>
          </table>
        <% end %> 

        </div>
      </div>
    </div>
    <div class="span4">
      <div class="">
        <table class="table">
        <tr><th colspan="2" class="header">Maklumat Perniagaan</th></tr>
        <tr>
          <th><%= t('.company_name') %></th>
          <td><%= @user.business_profile.company_name%></td>
        </tr>
        <tr>
          <th><%= t('address') %></th>
          <td><%= @user.full_business_address %></td>
        </tr>
        <tr>
          <th><%= t('description') %></th>
          <td><%= @user.business_profile.description%></td>
        </tr>
        <tr>
          <th><%= t('category') %></th>
          <td><%= @user.business_profile.category %></td>
        </tr>
        <tr>
          <th><%= t('.type_of_business') %></th>
          <td><%= @user.business_profile.type_of_business %></td>
        </tr>
        <tr>
          <th><%= t('.company_registration_number') %></th>
          <td><%= @user.business_profile.registration_number%></td>
        </tr>
      </table>
      </div>
    </div>
  </div>
</div>



<% if can? :manage, @user %>
  <div class="form-actions">
    <%#= link_to t('.back', :default => t("helpers.links.back")),
                users_path, :class => 'btn'  %>
    <%= link_to t('edit', :default => t("helpers.links.edit")),
                edit_user_path(@user), :class => 'btn btn-flat' %>
    <%#= link_to t('destroy', :default => t("helpers.links.destroy")),
                user_path(@user),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  </div>
<% end %>
