.row
  %h3.nine.columns
    = t('.title')
  .three.columns.action.hide
    - if can? :manage, @user
      %span.pretty.medium.primary.btn.entypo.icon-left.icon-list-add
        = link_to t('edit', :default => t("helpers.links.edit")), edit_user_path
  %hr.divider
.table
  .row.table-head
    .two.columns
      %h6.title ID
    .seven.columns
      %h6.title= t('name')
    .three.columns
      %h6 &nbsp;
  - @surveys.each_with_index do |survey,i|
    .row.table-rows
      .two.columns
        %p= survey.id
      .seven.columns
        %p
          = survey.title
      .three.columns
        %span.medium.pretty.btn.warning
          = link_to t('take_survey'), take_survey_path(survey)
