.page-header
  %h1= t('.title')

%table.table.table-striped
  %tr
    %th Id
    %th Name
    %th

  - @newsletters_templates.each_with_index do |newsletters_template, i|
    %tr
      %td= i+1
      %td= newsletters_template.name
      %td
        = link_to 'Show', newsletters_template, :class => 'btn btn-mini'
        = link_to 'Edit', edit_newsletters_template_path(newsletters_template), :class => 'btn btn-mini btn-secondary'
        = link_to 'Destroy', newsletters_template, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'

%br

= link_to 'New Template', new_newsletters_template_path, :class => 'btn'
