%h1 Listing newsletters_templates

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @newsletters_templates.each do |newsletters_template|
    %tr
      %td= newsletters_template.name
      %td= link_to 'Show', newsletters_template
      %td= link_to 'Edit', edit_newsletters_template_path(newsletters_template)
      %td= link_to 'Destroy', newsletters_template, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Template', new_newsletters_template_path
