.row
  %h3.eleven.columns
    = t('.title')
  .one.columns.filter
    %span.toggle
      %i.icon-search{:'gumby-trigger' => "#search-drawer"}
.row
  #search-drawer.twelve.columns
    .row
      .four.columns.field
        = label :search, :city, t('search_by_name')
        = text_field :search, :name, :placeholder => 'Search..', :class => 'text input'
      .four.columns.field
        = label :search, :category, t('search_by_category')
        .picker
          = select :search, :category, BusinessProfile.all.map(&:category).uniq, {:include_blank => true}
      .four.columns.field
        = label :search, :business_name, t('search_by_company_name')
        = text_field :search, :business_name, :placeholder => t('search_by_company_name'), :class => 'text input'
    .row
      .two.columns
        %span.medium.primary.btn
          = button_tag t('search')

.table
  .row.table-head
    .four.columns
      %h6.title= t('name')
    .three.columns
      %h6.title= t('company_name')
    .two.columns
      %h6.title= t('business_category')
    .three.columns
      %h6.title= t('customers')
  - @users.each_with_index do |user,i|
    .row.table-rows
      .four.columns
        %p
          = link_to "#{user.first_name} #{user.last_name}", user_path(user), :class => 'name'
      - if !user.business_profiles.empty?
        .three.columns
          %ul
            - user.business_profiles.each do |b|
              %li
                - unless b.company_name.blank?
                  %p= b.company_name
                - else
                  %p N/A
        .two.columns
          %ul
            - user.business_profiles.each_with_index do |b, index|
              %li
                - unless user.business_profiles[index].category.blank? || user.business_profiles[index].company_name.blank?
                  %small.label.info= b.category
                - else
                  %small.label.danger N/A
        .three.columns
          %ul
            - user.business_profiles.each do |b|
              - unless b.customer1.blank?
                %li
                  = b.customer1
              - unless b.customer2.blank?
                %li
                  = b.customer2
              - unless b.customer3.blank?
                %li
                  = b.customer3
        .two.columns.hide
          - if cannot? :consultation, :pages
            .span.small.btn.secondary.entypo.icon-left.icon-eye
              = link_to '#' do
                = t('view')
          - else
            .span.small.btn.secondary.entypo.icon-left.icon-menu
              = link_to user_path(user) do
                = t('view')
  = paginate(@users)