
<div class="page-header">
  <h1>Business Directory</h1>
</div>
<%= form_tag '', method: :get do %>
  <div class="row-fluid">
    <div class="span3">
      <%= label :search, :category, 'Search by Business Category' %>
      <%= select :search, :category, BUSINESS_CATEGORIES, {:include_blank => true} %>
    </div>
    <div class="span3">
      <%= label :search, :city, 'Search by City' %>
      <%= select :search, :city, City.all.map{|a| [a.name,a.id]}, {:include_blank => true} %>
    </div>
    <div class="span3">
      <%= label :search, :state, 'Search by State' %>
      <%= select :search, :state, City.all.map{|a| [a.state_name,a.state_name]}.uniq, {:include_blank => true} %>
    </div>
    <div class="span3">
      <br><br>
      <input type="submit" value="Search" class="btn" />
    </div>
  </div>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Business Category</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.business_profile.category %></td>
        <td>
          <%= link_to 'View',
                    user_path(user), :class => 'btn btn-mini' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
