
<div class="page-header">
  <h1><%= t('.title') %></h1>
</div>
<%= form_tag '', method: :get do %>
  <div class="row-fluid">
    <div class="span3">
      <%= label :search, :name, t('search_by_name') %>
      <%= text_field :search, :name %>
    </div>
    <div class="span3">
      <%= label :search, :category, t('search_by_category') %>
      <%= select :search, :category, BusinessProfile.all.map(&:category).uniq, {:include_blank => true} %>
    </div>
    <div class="span3">
      <%= label :search, :business_name, t('search_by_company_name') %>
      <%= text_field :search, :business_name %>
    </div>
    <div class="span3">
      <br><br>
      <input type="submit" value=<%= t('search') %>  class="btn btn-success" style="margin-top:-10px;" />
    </div>
  </div>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="width:auto;"><%= t('name') %></th>
      <th><%= t('.business_category') %></th>
      <th style="width:auto;"><%= t('company_name') %></th>
      <th><%= t('customers') %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></td>
        <% if !user.business_profile.nil? %>
          <td><%= user.business_profile.category %></td>
          <td><%= user.try(:business_profile).try(:company_name) %></td>
          <td><%= user.business_profile.customer1 %>
              <% if user.business_profile.customer1 %>
                <br/>
              <% end %>
              <%= user.business_profile.customer2 %>
              <% if user.business_profile.customer2 %>
                <br/>
              <% end %>
              <%= user.business_profile.customer3 %>
        <% else %>
          <td></td>
          <td></td>
          <td></td>
        <% end %>
        <td>
          <% if cannot? :consultation, :pages %>
            <%= link_to t('view'),
                    '', :class => 'btn btn-mini disabled' %>
          <% else %>
            <%= link_to t('view'),
                    user_path(user), :class => 'btn btn-secondary btn-mini' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
