<%- model_class = Consultant -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="width:auto;"><%= t('.name') %></th>
      <th style="width:auto;"><%= t('company_name') %></th>
      <th style="width:auto;"><%= t('program') %></th>
    </tr>
  </thead>
  <tbody>
    <% @consultants.each_with_index do |consultant, i| %>
      <tr>
        <% #todo session[:current_program_id] %>
        <td><%= consultant.first_name %> <%= consultant.last_name %></td>
        <td><%= consultant.company_name %> </td>
        <td><%= consultant.programs.first.name unless consultant.programs.first.nil? %></td>
        <% if current_user %><%# if can? :manage, @consultant %>
          <td>
            <%= link_to t('view'), consultant_path(consultant), :class => 'btn btn-mini' %>
              <%= link_to t('contact'), contact_consultant_path(consultant), :class => 'btn btn-mini btn-info' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

