<%- model_class = Consultant -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('company_name') %></th>
      <th><%= t('program') %></th>
    </tr>
  </thead>
  <tbody>
    <% @consultants.each_with_index do |consultant, i| %>
      <tr>
        <td><%= consultant.first_name %> <%= consultant.last_name %></td>
        <td><%= consultant.company_name %> </td>
        <td><%= consultant.program.name unless consultant.program.nil? %></td> 
        <td>
          <%= link_to t('view'), consultant_path(consultant), :class => 'btn btn-mini' %>
          <% if current_user %><%# if can? :manage, @consultant %>
            <%= link_to t('contact'), contact_consultant_path(consultant), :class => 'btn btn-mini btn-info' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

