.row
  %h3.twelve.columns
    = t('.title')
.table
  .row.table-head
    .six.columns
      %h6.title= t('course_name')
    .four.columns
      %h6.title= t('program_name')
    .two.columns
      %h6.title= t('status')
  - current_user.courses.order('start_date desc').each_with_index do |course, i|
    .row.table-rows
      .six.columns
        %p
          = link_to course.name, course_path(course), :class => 'name'
        %p
          = truncate(course.description, :length => 200)
        .row
          %small.label.info
            = "#{t('status')} :"
            = (course.status? && course.end_date >= Date.today ) ? t('active') : t('inactive')
          %small.label.info
            = "#{t('start_date')} :"
            = "#{course.start_date} - #{course.end_date}"
      .four.columns
        %p
          = course.program.name unless course.program.nil?
      .two.columns
        %p
          - attendee = course.attendees.where('user_id = ?',current_user.id).first
          - attended = attendee.attended? rescue nil
          - case attended
            - when nil?
              - if course.start_date < Date.today
                = t('not_present')
              - else
                = t('upcoming')
            - when true
              - if attendee.attendance_status == 'cannot_attend'
                Tidak Layak Hadir
              - elsif attendee.attendance_status == 'present'
                Hadir
            - when false
              = t('not_present')
