.page-header
  %h1=t('.title')

= form_tag '', method: :get do
  = label :search, :terms, t('search_courses_by_title')
  = text_field :search, :terms, class: 'text_field'
  = button_to t('search')

%table.table.table-striped
  %thead
    %tr
      %th
        = t('course_name')
      %th
        = t('description')
      %th
        = t('program_name')
      %th
        = t('start_date')
      %th
    %tbody
      - @courses.each do |course|
        %tr
          %td
            = course.name
          %td
            = course.description
          %td
            = course.program.name unless course.program.nil?
          %td
            = course.start_date
          %td
            = link_to t('view'), course_path(course), |
              class: 'btn'

