= form_tag '', method: :get do
  .row
    %h3.nine.columns
      = t('.title')
    .three.columns.action
      - if can? :manage, Course
        %span.pretty.medium.primary.btn.entypo.icon-left.icon-list-add
          = link_to t('create_course', :default => t("helpers.links.new_user")), new_course_path
  .row
    #search-drawer.twelve.columns
      .row
        .four.columns.field
          = label :search, :terms, t('search_courses_by_title')
          = text_field :search, :terms, :placeholder => "Search", :class => 'text input'
      .row
        .two.columns
          %span.pretty.medium.primary.btn.entypo.icon-left.icon-search
            = button_tag t('search')

.table
  .row.table-head
    .six.columns
      %h6.title= t('course_name')
    .four.columns
      %h6.title= t('program_name')
    .two.columns
      %h6.title= t('status')
  - @courses.each_with_index do |course, i|
    .row.table-rows
      .six.columns
        %p
          = link_to course.name, course_details_path(course), :class => 'name'
        %p
          = truncate(course.description, :length => 200)
        .row
          %small.label.info
            = "#{t('status')} :"
            = course.status? ? t('active') : t('inactive')
          %small.label.info
            = "#{t('start_date')} :"
            = "#{course.start_date} - #{course.end_date}"
      .four.columns
        %p
          = course.program.name unless course.program.nil?
      .two.columns
        .row
          .twelve.columns
            %span.pretty.small.btn.warning.icon-left.entypo.icon-mail
              = mail_to "example@example.com", t('share'), :subject => "Ada kursus menarik dari PKNS - #{course.try(:name)}", :body => "Ada kursus menarik dari PKNS. Sila lewati #{"http://"+request.host+course_path(course)}. \n\nAnda perlu berdaftar dengan Biz Data untuk hadiri kursus. \n\nMaklumat Kursus \nKursus : #{course.try(:name)} \nHuraian : #{course.try(:description)} \nTarikh : #{course.start_date}"
          - if can? :manage, :all
            .twelve.columns
              %span.pretty.small.btn.danger.icon-left.entypo.icon-trash
              
                = link_to t('destroy', :default => t("helpers.links.destroy")),
                            course_path(course),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => t('are_you_sure'))) }
  = paginate @courses
