<%- model_class = Course -%>
<div class="page-header">
  <h1><%=t @course.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= t('course_type') %>:</strong></dt>
  <dd><%= @course.course_type %></dd>
  <dt><strong><%= t('description') %>:</strong></dt>
  <dd><%= @course.description %></dd>
  <dt><strong><%= t('start_date') %>:</strong></dt>
  <dd><%= @course.start_date %></dd>
  <dt><strong><%= t('end_date') %>:</strong></dt>
  <dd><%= @course.end_date %></dd>
  <dt><strong><%= t('venue') %>:</strong></dt>
  <dd><%= @course.venue %></dd>
  <dt><strong><%= t('pax') %>:</strong><dt>
  <dd><%= @course.pax %></dd>
  <dt><strong><%= t('status') %>:</strong></dt>
  <dd><%= !@course.status.blank? || @course.status? ? t('active') : t('inactive') %></dd>
</dl>

