- model_class = Course
.page-header
  %h1= t @course.name
%dl.dl-horizontal
  %dt
    %strong
      = t('course_type')
      \:
  %dd= @course.course_type
  %dt
    %strong
      = t('description')
      \:
  %dd= @course.description
  %dt
    %strong
      = t('start_date')
      \:
  %dd= @course.start_date
  %dt
    %strong
      = t('end_date')
      \:
  %dd= @course.end_date
  %dt
    %strong
      = t('venue')
      \:
  %dd= @course.venue
  %dt
    %strong
      = t('pax')
      \:
  %dt
  %dd= @course.pax
  %dt
    %strong
      = t('status')
      \:
  %dd= !@course.status.blank? || @course.status? ? t('active') : t('inactive')

-if current_user
  - if !current_user.courses.include?(@course) && !current_user.admin?
    = form_tag user_course_registration_path({id: @course.id, user_id: current_user.id}), method: :put do
      = button_tag t('register_course'), data: { confirm: t('confirm_register_course') }, class: 'btn'

- if can? :manage, @course
  .form-actions

  = link_to t('edit', :default => t("helpers.links.edit")), |
    edit_course_path(@course), :class => 'btn'              |
  -#
  = link_to t('destroy', :default => t("helpers.links.destroy")),                                                 |
    course_path(@course),                                                                                         |
    :method => 'delete',                                                                                          |
    :data => { :confirm => t('confirm', :default => t("helpers.links.confirm", :default => t('are_you_sure'))) }, |
    :class => 'btn btn-danger'                                                           

  %br
  %br    
  - if @course.attendance_list.attendees.count > 0                     
    .preattendance
      %h4
        Preattendance List
      %table.table.table-striped
        %thead
          %tr
            %th
              ID
            %th
              Name
            %th
              Email
            %th
              IC Number
        %tbody
          - @course.attendance_list.attendees.each_with_index do |attendee, index|
            %tr
              %td
                = index + 1
              %td
                = attendee.name
              %td
                = attendee.email
              %td
                = attendee.ic_number
              %td
                - if !attendee.attended.nil?
                  = attendee.attended? ? t('present') : t('not_present')
                - else
                  = link_to t('present'), update_attendance_path(user_id: attendee.user_id, attendee_id: attendee.id, course_id: @course.id, attended: true), method: :post, class: 'btn btn-mini'
                  = link_to t('not_present'), update_attendance_path(user_id: attendee.user_id, attendee_id: attendee.id, course_id: @course.id, attended: false), method: :post, class: 'btn btn-mini'  


      .span2
        %h5 
          = t('number_of_attendees')
      .span2
        %h5
          = "#{@course.attendance_list.attendees.count}/#{@course.attendance_list.max_attendees}"
