#welcome
  .row
    .eight.columns
      .row.top
        %h2.title
          Selamat Datang ke Sistem Aplikasi PKNS Biz Data.
        %h6.title
          Di sini anda berpeluang untuk menjana dan meluaskan empayar perniagaan.
      %article.valign.row
        %div.two.columns.circle.image
          %img{:src => 'http://lorempixel.com/150/150/business/2'}
        %div.nine.push-one.columns
          %h5.title Rakan niaga pelbagai bidang dan kemahiran.
          %p.sub Anda berpeluang meluaskan empayar bisnes dengan penambahan rangkaian rakan niaga.
      %article.valign.row
        %div.two.columns.circle.image
          %img{:src => 'http://lorempixel.com/150/150/business/3'}
        %div.nine.push-one.columns
          %h5.title Kongsi pengalaman dalam perniagaan.
          %p.sub Pengalaman tidak boleh dibeli, anda boleh mendapat dan memberi pengalaman dan pengetahuan anda untuk disebarkan.
      %article.valign.row
        %div.two.columns.circle.image
          %img{:src => 'http://lorempixel.com/150/150/business/4'}
        %div.nine.push-one.columns
          %h5.title Jaringan keusahawanan mantap dan berkesan.
          %p.sub Kejayaan usahawan dipengaruhi oleh keupayaan mereka mengenal pasti dan melakukan jaringan yang betul.

    .four.columns
      - unless current_user
        .panel
          .row
            %h6.eleven.columns
              = t('sign_in')
            %span.one.columns
              %i.icon-cog.ico-custom
          .row
            = form_for("user", :url => user_session_path) do |f|
              %ul.eleven.columns
                %li.field
                  = f.email_field :email, :autofocus => true, :class => 'email input', :placeholder => t('email')
                %li.field
                  = f.password_field :password, :class => 'password input', :placeholder => t('password')
                  %small
                    =t('password_length_hint')
                %li.field
                  .seven.columns
                    - if devise_mapping.rememberable?
                      = f.label t('remember_me'), :class => 'checkbox checked' do
                        = f.check_box :remember_me, :checked => 'checked'
                        %span
                        = t('remember_me')
                    = link_to t('forgot_your_password'), new_password_path(resource_name), style: 'color: gray;'

                  .five.columns
                    = f.submit t('login'), :class => ' pretty medium primary btn'
        .panel
          .row
            %h6.twelve.columns
              = t('sign_up')

          .row
            = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :id => 'register') do |f|
              = devise_error_messages!
              %ul.eleven.columns
                %li.field
                  = f.text_field :first_name, :autofocus => true, :placeholder => t('first_name'), :class => 'text input'
                %li.field.hide
                  = f.text_field :last_name, :autofocus => true, :placeholder => t('last_name'), :class => 'text input'
                %li.field
                  = f.text_field :ic_number, :placeholder => t('ic_number'), :class => 'text input'
    
                  %small
                    =t('mykad_example')
                %li.field
                  = f.text_field :phone, :placeholder => t('phone'), :class => 'text input'
   
                  %small
                    =t('phone_number_hint')
                %li.field
                  = f.email_field :email, :autofocus => true, :placeholder => t('email'), :class => 'email input'
                %li.field
                  = f.password_field :password, :placeholder => t('password'), :class => 'password input'
                  %small
                    = t('password_length_hint')
                %li.field
                  = f.password_field :password_confirmation, :placeholder => t('password_confirmation'), :class => 'password input'
                  = f.hidden_field :is_active, value: true
                %li.field
                  %label.checkbox{ :for => :terms_of_service }
                    = check_box_tag :terms_of_service
                    %span
                    = link_to t('terms'), tnc_path, :class => 'term', onClick: "window.open('#{tnc_path}','_blank')";
                %li.field
                  = f.submit t('sign_up'), :class => ' pretty medium primary btn'