= form_for @letter, :html => { :class => 'form-horizontal' } do |f|
  %ul
    %li.field
      .control-group
        = f.label t('.subject'), :class => 'control-label'
        .controls
          = f.text_field :subject, :class => 'text input input-xlarge', value: @letter.subject
      .control-group
        = f.label t('.message'), :class => 'control-label'
        .controls
          = f.text_area :message, :class => 'redactor-less',value: @letter.message, :rows => 40, :cols => 520
    %li.field
      %span.medium.pretty.btn.info
        - if @letter.new_record?
          - button_text = '.compose'
        - else
          - button_text = 'update'
        %button{:onClick => 'submit();'}=t button_text
      %span.medium.pretty.btn.danger
        = link_to t('.cancel', :default => t("helpers.links.cancel")), letters_path
