- model_class = Letter
.page-header

- @users.each do |user|
  = user.full_name
  = full_address(user).html_safe
  %br
  = @letter.date

  %p
    %br
    %strong= 'Subjek :'
    = @letter.subject
  %p
    = @letter.message.html_safe

  %p
    Yang bertugas,

  %p
    = current_user.full_name
  %hr

.form-actions
  %span.medium.pretty.btn.warning
    = link_to t('.print'), generate_letter_path(@letter, format: "pdf")#, :class => 'btn btn-secondary'
  %span.medium.pretty.btn.secondary
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_letter_path(@letter)#, :class => 'btn'
  %span.medium.pretty.btn.danger
    = link_to t('.destroy', :default => t("helpers.links.destroy")), letter_path(@letter), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }#, :class => 'btn btn-danger'
