- model_class = Letter
.row
  %h3.twelve.columns
    = t('.title', :default => model_class.model_name.human.pluralize)
  %hr.divider
.table
  .row.table-head
    .two.columns
      %h6.title= t('.index')
    .six.columns
      %h6.title= t('.subject')
    .four.columns
      %h6.title= t('.name')
  - @letters.each_with_index do |letter, i|
    .row.table-rows
      .two.columns
        %p
          = i+1
      .six.columns
        %p
          = link_to letter.subject, letter_path(letter), :class => 'name'
        %span.info.label
          = t('date')
          = letter.created_at.strftime("%d %b %y, %M:%S")
      .four.columns
        %p
          = letter.full_name