- model_class = Letter
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= "Index"
      %th= t('.subject')
      %th= t('.name')
      %th= t('.created_at')
      %th
  %tbody
    - @letters.each_with_index do |letter, i|
      %tr
        %td= i+1
        %td= letter.subject
        %td= letter.full_name
        %td= letter.created_at.strftime("%d %b %y, %M:%S")
        %td
          %span.small.pretty.btn.primary
            = link_to t('.view'), letter_path(letter)

