- model_class = Letter

.row
  %h3.ten.columns
    = t('.title', :default => model_class.model_name.human.pluralize)
  .two.columns.action
    %span.pretty.medium.primary.btn.entypo.icon-left.icon-list-add
      = link_to t('new', :default => t("helpers.links.new")), new_letter_path
  %hr.divider
.table
  .row.table-head
    .two.columns
      %h6.title= model_class.human_attribute_name(:id)
    .eight.columns
      %h6.title= t('.name')
    .two.columns
      %h6.title= t('status')
  - @letters.each_with_index do |letter, i|
    .row.table-rows
      .two.columns
        %p
          = link_to letter.id, letter_path(letter), :class => 'name'
      .eight.columns
        %p
          = "#{letter.first_name} #{letter.last_name}"
      .two.columns
        .row
          .twelve.columns
          .twelve.columns
            %span.pretty.small.btn.warning.icon-left.entypo.icon-mail
              = link_to t('.history'), letter_user_user_path(letter)
          .twelve.columns
            %span.pretty.small.btn.danger.icon-left.entypo.icon-pencil
              = link_to t('.send_letter'), compose_letter_path(letter)
  =# paginate @letters