= form_for @advert, :html => { :class => 'form-horizontal' } do |f|
  %ul
    - if !f.object.new_record?
      - if !@advert.photo.new_record?
        %li.field
          .controls
            = image_tag(f.object.photo.file)
    = f.fields_for :photo do |p|
      %li.field
        = p.label t('.upload_photo'), class: 'control-label'
        = p.file_field :file, :class => 'file'
        %small
          = t('image_should_be_this_size')
    %li.field
      = f.label t('.select_course'), class: 'control-label'
      .row
        .six.columns
          .picker
            = select_tag 'advert_program_select', options_for_select(current_consultant.programs.all.map{|a| [a.name, a.id]})#, disabled: disabled
        .six.columns
          .picker
            = select_tag 'advert_course_select', options_for_select(current_consultant.courses.where(program_id: current_consultant.programs.first.id).map{ |a| [a.name,a.id]})#, disabled: disabled
    %li.field
      .row
        .six.columns
          = f.label t('advert_start_date'), :class => 'control-label'
          = f.text_field :start_date, :class => 'datepicker input text'
        .six.columns
          = f.label t('advert_end_date'), :class => 'control-label'
          = f.text_field :end_date, :class => 'datepicker input text'
          = f.hidden_field :advert_type, value: 'Course'
          = f.hidden_field :consultant_id, value: current_consultant.id
    %li.field
      - if f.object.new_record?
        %span.medium.pretty.btn.warning
          / = f.submit t('create_advert')
          %button{:onClick => 'submit();'}= t('create_advert')
      - else
        %span.medium.pretty.btn.warning
          / = f.submit t('update')
          %button{:onClick => 'submit();'}= t('update')
      %span.medium.pretty.btn.default
        = link_to t('cancel', :default => t("helpers.links.cancel"))



