
%tr  
  %td
    %strong
      = t('program')
  %td= @advert.program_name
%tr  
  %td
    %strong
      = t('course_type')
  %td= @advert.course_type
%tr  
  %td
    %strong
      = t('venue')
  %td= @advert.location
%tr  
  %td
    %strong
      = t('pax')
  %td= @advert.capacity
%tr  
  %td
    %strong
      = t('course_start_date')
  %td= @advert.course_start_date
%tr  
  %td
    %strong
      = t('course_end_date')
  %td= @advert.course_end_date
%tr  
  %td
    %strong
      = t('advert_start_date')
  %td= @advert.course_start_date
%tr  
  %td
    %strong
      = t('advert_end_date')
  %td= @advert.course_end_date

