
%tr  
  %td= @advert.course_type
  / %td
  /   %strong
  /     = t('description')
  /     \:
  / %td= @advert.description.blank? ? "<br/>".html_safe : @advert.description
%tr  
  %td
    %strong
      = t('text')
    
  %td= @advert.content
%tr
  %td
    %strong
      = t('advert_start_date')
    
  %td= @advert.start_date
%tr
  %td
    %strong
      = t('advert_end_date')
    
  %td= @advert.end_date

