- model_class = Advert
.row
  %h3.nine.columns
    =t '.title', :default => model_class.model_name.human.pluralize
  .three.columns.action
    - if can? :manage, Course
      %span.pretty.medium.primary.btn.entypo.icon-left.icon-list-add
        = link_to t('.new', :default => t("helpers.links.new")), new_advert_path
.row
  .twelve.columns
    %hr.divider
    %section.pill.tabs
      %ul.tab-nav
        %li.active
          = link_to t('active_adverts'), '#'
        %li
          = link_to t('pending_adverts'), '#'
        %li
          = link_to t('inactive_adverts'), '#'
      .tab-content.active
        .table
          .row.table-head
            .one.columns
              %h6 No
            .three.columns
              %h6.title= t('name')
            .two.columns
              %h6.title= t('advert_type')
            .two.columns
              %h6.title= t('weight')
            .one.columns
              %h6.title= t('paid_for')
            .one.columns
              %h6.title= t('active')
            .one.columns
              %h6.title= t('status')
          - @active_adverts.each_with_index do |advert, index|
            .row.table-rows
              .one.columns
                %p= index + 1
              .three.columns
                %p
                  = link_to advert.title, advert_path(advert), :class => 'name'
                  .row
                    %small.label.info
                      Tarikh :
                      = "#{advert.start_date} - #{advert.end_date}"
              .two.columns
                %p
                  = advert.advert_type
              .two.columns
                = form_for advert, url: activate_advert_path(advert) do |f|
                  .picker
                    = f.select :weight, options_for_select(['1','2','3','4','5','7','8','9','10'], selected: advert.weight ),{} ,{ onChange: "submit();", class: 'short-select'}
              .one.columns
                = form_for advert, url: activate_advert_path(advert) do |f|
                  = f.check_box :paid_for, onClick: "submit();"
              .one.columns
                = form_for advert, url: activate_advert_path(advert) do |f|
                  = f.check_box :active, onClick: "submit();"
              .one.columns
                .row
                  .twelve.columns
                  .twelve.columns
                    %span.pretty.small.btn.info.icon-left.entypo.icon-eye
                      = link_to t('view'), advert_path(advert)
                  .twelve.columns
                    %span.pretty.small.btn.warning.icon-left.entypo.icon-list-add
                      = link_to t('view'), edit_advert_path(advert)
                  .twelve.columns
                    %span.pretty.small.btn.danger.icon-left.entypo.icon-trash
                      = link_to t('destroy', :default => t("helpers.links.destroy")), advert_path(advert),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }
      .tab-content
        .table
          .row.table-head
            .one.columns
              %h6 No
            .three.columns
              %h6.title= t('name')
            .two.columns
              %h6.title= t('advert_type')
            .two.columns
              %h6.title= t('weight')
            .one.columns
              %h6.title= t('paid_for')
            .one.columns
              %h6.title= t('active')
            .one.columns
              %h6.title= t('status')
          - @pending_adverts.each_with_index do |advert, index|
            .row.table-rows
              .one.columns
                %p= index + 1
              .three.columns
                %p
                  = link_to advert.title, advert_path(advert), :class => 'name'
                  .row
                    %small.label.info
                      Tarikh :
                      = "#{advert.start_date} - #{advert.end_date}"
              .two.columns
                %p
                  = advert.advert_type
              .two.columns
                = form_for advert, url: activate_advert_path(advert) do |f|
                  .picker
                    = f.select :weight, options_for_select(['1','2','3','4','5','7','8','9','10'], selected: advert.weight ),{} ,{ onChange: "submit();", class: 'short-select'}
              .one.columns
                = form_for advert, url: activate_advert_path(advert) do |f|
                  = f.check_box :paid_for, onClick: "submit();"
              .one.columns
                = form_for advert, url: activate_advert_path(advert) do |f|
                  = f.check_box :active, onClick: "submit();"
              .one.columns
                .row
                  .twelve.columns
                  .twelve.columns
                    %span.pretty.small.btn.info.icon-left.entypo.icon-eye
                      = link_to t('view'), advert_path(advert)
                  .twelve.columns
                    %span.pretty.small.btn.warning.icon-left.entypo.icon-list-add
                      = link_to t('view'), edit_advert_path(advert)
                  .twelve.columns
                    %span.pretty.small.btn.danger.icon-left.entypo.icon-trash
                      = link_to t('destroy', :default => t("helpers.links.destroy")), advert_path(advert),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }
      .tab-content
        .table
          .row.table-head
            .one.columns
              %h6 No
            .three.columns
              %h6.title= t('name')
            .two.columns
              %h6.title= t('advert_type')
            .two.columns
              %h6.title= t('weight')
            .one.columns
              %h6.title= t('paid_for')
            .one.columns
              %h6.title= t('active')
            .one.columns
              %h6.title= t('status')
          - @inactive_adverts.each_with_index do |advert, index|
            .row.table-rows
              .one.columns
                %p= index + 1
              .three.columns
                %p
                  = link_to advert.title, advert_path(advert), :class => 'name'
                  .row
                    %small.label.info
                      Tarikh :
                      = "#{advert.start_date} - #{advert.end_date}"
              .two.columns
                %p
                  = advert.advert_type
              .two.columns
                = form_for advert, url: activate_advert_path(advert) do |f|
                  .picker
                    = f.select :weight, options_for_select(['1','2','3','4','5','7','8','9','10'], selected: advert.weight ),{} ,{ onChange: "submit();", class: 'short-select'}
              .one.columns
                = form_for advert, url: activate_advert_path(advert) do |f|
                  = f.check_box :paid_for, onClick: "submit();"
              .one.columns
                = form_for advert, url: activate_advert_path(advert) do |f|
                  = f.check_box :active, onClick: "submit();"
              .one.columns
                .row
                  .twelve.columns
                  .twelve.columns
                    %span.pretty.small.btn.info.icon-left.entypo.icon-eye
                      = link_to t('view'), advert_path(advert)
                  .twelve.columns
                    %span.pretty.small.btn.warning.icon-left.entypo.icon-list-add
                      = link_to t('view'), edit_advert_path(advert)
                  .twelve.columns
                    %span.pretty.small.btn.danger.icon-left.entypo.icon-trash
                      = link_to t('destroy', :default => t("helpers.links.destroy")), advert_path(advert),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }