- model_class = Advert
.row
  %h3.twelve.columns
    = t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human
  %small 
    = t ('fill_all_fields_hint')
  %hr.divider
.row
  .twelve.columns
    - if current_user
      - if current_user.admin?
        = render :partial => "form"
      - else
        = render :partial => "user_form"
    - elsif current_consultant
      = render :partial => "consultant_form"