.page-header
  %h1=t '.title'
%div.container
  %div.row
    
    %div.span5
      =#image_tag "http://maps.googleapis.com/maps/api/staticmap?center=Jalan+Plumbum+P7%2FP,+Seksyen+7&zoom=14&markers=color:blue%7Clabel:PKNS%3.068556,101.490335&size=400x400&sensor=false"
      =#image_tag "http://maps.googleapis.com/maps/api/staticmap?center=Jalan+Plumbum+P7%2FP,Seksyen+7&zoom=14&size=400x400&sensor=false&markers=color:blue%7Clabel:P%3.068556,101.490335"
      %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Jalan+Plumbum+P7%2FP,+Seksyen+7&aq=&sll=3.069344,101.488691&sspn=0.12719,0.208912&t=h&ie=UTF8&hq=&hnear=Jalan+Plumbum+P7%2FP,+Seksyen+7,+40000+Shah+Alam,+Selangor,+Malaysia&z=14&ll=3.068458,101.490304&output=embed", :width => "425"}

      %ul
        %li= "No 67 D, Jalan Plumbum P7/P, Seksyen 7, 40000 Shah Alam, Selangor "
        %li= "Tel : 03-5511 3514/1727  Faks : 03 - 5511 1716 "
        %li= "Emel : info@pknsbizdata.com"
      

    %div.span5
      %h5 Hubungi Kami
      = form_for @message, :url => create_message_path do |f|
        = f.text_field :name, :placeholder => "Nama"
        = f.text_field :email, :placeholder => "Email"
        = f.text_area :content, :placeholder => "Mesej", :style => 'height:250px; width:430px;'
        = f.button :submit, :class => 'btn'

