.row
  .eight.columns
    %h5 Alamat dan Lokasi
    %hr.divider
    %ul
      %li
        %p= "No 67 D, Jalan Plumbum P7/P, Seksyen 7, 40000 Shah Alam, Selangor "
        %p= "Tel : 03-5511 3514/1727  Faks : 03 - 5511 1716 "
        %p= "Emel : info@pknsbizdata.com"
    %iframe{:frameborder => "0", :width => '100%', :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Jalan+Plumbum+P7%2FP,+Seksyen+7&aq=&sll=3.069344,101.488691&sspn=0.12719,0.208912&t=h&ie=UTF8&hq=&hnear=Jalan+Plumbum+P7%2FP,+Seksyen+7,+40000+Shah+Alam,+Selangor,+Malaysia&z=14&ll=3.068458,101.490304&output=embed"}
  .four.columns
    %h5=t '.title'
    %hr.divider
    = form_for @message, :url => create_message_path , :html => {:class => 'custom form'} do |f|
      %ul
        %li.field
          = f.text_field :name, :placeholder => "Nama", :class => 'text input'
        %li.field
          = f.text_field :email, :placeholder => "Email", :class => 'text input'
        %li.field
          = f.text_area :content, :placeholder => "Mesej", :rows => 5, :class => 'textarea input'
        %li.field
          %span.medium.pretty.btn.warning
            %button{:onClick => 'submit();'} Submit
          / = f.button :submit
