- model_class = Course
.row.print-disabled
  %h4.nine.columns
    = @course.name
  .three.columns
    -if current_user
      - if !current_user.courses.include?(@course) && !current_user.admin?
        = form_tag user_course_registration_path({id: @course.id, user_id: current_user.id}), method: :put, :class => 'right' do
          %span.pretty.medium.btn.warning
            %button{:data => {:confirm => t('confirm_register_course')} , :onClick => 'submit();'}=t('register_course')
  %hr.divider
.row.print-disabled
  .twelve.columns
    %table.table.strip
      %tbody
        %tr
          %th= t('course_type')
          %td= @course.course_type
        %tr
          %th= t('program')
          %td= @course.program.name
        %tr
          %th= t('description')
          %td= @course.description
        %tr
          %th= t('start_date')
          %td= @course.start_date
        %tr
          %th= t('end_date')
          %td= @course.end_date
        %tr
          %th= t('venue')
          %td= @course.venue
        %tr
          %th= t('pax')
          %td= @course.pax
        %tr
          %th= t('status')
          %td= !@course.status.blank? || @course.status? ? t('active') : t('inactive')
.row.print-section
  - if @course.attendance_list
    - if @course.attendance_list.attendees.count > 0
      .row
        .nine.columns
          %h5= t('.preattendance_list')
        .three.columns
          %h5
            = "#{t('number_of_attendees')} : #{@course.attendance_list.attendees.count}/#{@course.attendance_list.max_attendees}"
      %hr.divider
      %table.table.table-striped
        %thead
          %tr
            %th
              ID
            %th
              Name
            %th
              Email
            %th
              IC Number
        %tbody
          - @course.attendance_list.attendees.each_with_index do |attendee, index|
            %tr
              %td
                = index + 1
              %td
                %p= attendee.full_name
              %td
                = attendee.email
              %td
                = attendee.ic_number