.row
  %h4.twelve.columns
    =t('.title')
  %hr.divider
.row
  .twelve.columns
    = form_tag '', method: :get, :class => 'custom form' do
      %ul
        %li.field
          = text_field :search, :terms, :placeholder => 'Carian kursus dengan tajuk...', class: 'text input wide'
          %span.pretty.medium.btn.warning
            = button_tag( t('search'))
.table
  - if current_consultant && session[:current_program_id].nil?
    .row
      .twelve.columns
        %h4= t('select_a_program_to_manage')
  -else
    .row.table-head
      .six.columns
        %h6.title= t('course_name')
      .four.columns
        %h6.title= t('program_name')
      .two.columns
        %h6.title= t('status')
    - @courses.each_with_index do |course, i|
      .row.table-rows
        .six.columns
          %p
            = link_to course.name, portal_course_show_path(course), :class => 'name'
          %p
            = truncate(course.description, :length => 200)
          .row
            %small.label.info
              = "#{t('status')} :"
              = (course.status? && course.end_date >= Date.today ) ? t('active') : t('inactive')
            %small.label.info
              = "#{t('start_date')} :"
              = "#{course.start_date} - #{course.end_date}"
        .four.columns
          %p
            = course.program.name unless course.program.nil?
        .two.columns
          .row
            .twelve.columns
              %span.pretty.small.btn.default.icon-left.entypo.icon-mail
                = mail_to "example@example.com", t('share'), :subject => "Ada kursus menarik dari PKNS - #{course.try(:program).try(:name)}", :body => "Ada kursus menarik dari PKNS. Sila lewati #{"http://"+request.host+course_path(course)}. \n\nAnda perlu berdaftar dengan Biz Data untuk hadiri kursus di #{new_user_registration_url}. \n\nMaklumat Kursus \nKursus : #{course.try(:program).try(:name)} \nHuraian : #{ActionView::Base.full_sanitizer.sanitize(course.try(:program).try(:description))[0..300] + '...'} \nTarikh : #{course.start_date}"
    = paginate @courses
