.row
  .twelve.columns
    =render partial: 'adverts/banner_slider', locals: { adverts: @adverts , show_banners: true}
.row
  .eight.columns
    %h5 Berita Terkini
    %hr.divider
    .row
      .eleven.columns
        %ul.blog-list
          - @blogs.each do |blog|
            %li.panel
              %h5=link_to blog.title, show_blog_path(blog)
              .content
                = blog.content.html_safe
                .info
                  %small
                    = link_to t('.read_more'), show_blog_path(blog)
              %p
                %small
                  = "Tag : " unless blog.tag_list.blank?
                  = raw blog.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
  = render partial: 'portals/newsbar'