.row
  .twelve.columns
    =render partial: 'adverts/banner_slider', locals: { adverts: @adverts , show_banners: true}
.row
  .eight.columns
    %h5 Berita Terkini
    %hr.divider
    .row
      .eleven.columns
        %ul.blog-list
          - @blogs.each do |blog|
            %li.panel
              %h5=link_to blog.title, show_blog_path(blog)
              .content
                = blog.content.html_safe
                .info
                  %small
                    = link_to t('.read_more'), show_blog_path(blog)
              %p
                %small
                  = "Tag : " unless blog.tag_list.blank?
                  = raw blog.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
  .four.columns
    %h5 News &amp; Events
    %hr.divider
    .row
      .eleven.columns
        %ul
          - (0..4).each do |i|
            %li.events
              .row
                .two.columns
                  .date= "#{i+12} Aug"
                .ten.columns
                  %p.title
                    - title = "You can nest grids within grids infinitely"
                    %small
                      = link_to title, '#'
                  %p
                    %small You can nest grids within grids infinitely, but after a while the columns become too small to be practical