.page-header
  %h1=t '.title'

%div.container
  %div.row
    %div.span5
      - @blogs.each do |blog|
        %b=link_to blog.title, show_blog_path(blog)
        %br
        = truncate(blog.content, :length => 300).html_safe
        = link_to t('.read_more'), show_blog_path(blog)
        %br
        %br

      =link_to t('.see_more'), blogs_path, :class => 'btn btn-mini'
      

    %div.span5
      %ul
        %li= "No 67 D, Jalan Plumbum P7/P, Seksyen 7, 40000 Shah Alam, Selangor "
        %li= "Tel : 03-5511 3514/1727  Faks : 03 - 5511 1716 "
        %li= "Emel : info@pknsbizdata.com"


%center
  .container
    - if current_user || current_consultant
      - if @adverts.count > 1 
        #slides
          - @adverts.each do |advert|
            %dl.dl-horizontal
              %div.adbox
                - if advert.advert_type == 'Course'
                  - if advert.photo
                    - if !advert.photo.file.nil?
                      %div.adinfo.userselect
                        %div.title= advert.title
                        %div.venue= 'Tempat : '+ advert.location.to_s
                        %div.date= 'Tarikh : '+ advert.start_date.strftime("%d %b %y").to_s
                      = image_tag (advert.photo.file)#, :class => 'adboxw'#, size: '100x100'
                - else
                  - if advert.photo
                    - if !advert.photo.file.nil?
                      %div.adinfo-product.userselect
                        %div.title= advert.title
                        %div.content= advert.content
                      = image_tag (advert.photo.file)#, :class => 'adboxw'#, size: '100x100'
      - else
        %dl.dl-horizontal
          %div.adbox
            - @adverts.each do |advert|
              - if advert.photo
                - if !advert.photo.file.nil?
                  %div.adinfo.userselect
                    %div.title= advert.title
                    %div.venue= 'Tempat : '+ advert.location.to_s
                    %div.date= 'Tarikh : '+ advert.start_date.strftime("%d %b %y").to_s
                  = image_tag (advert.photo.file)#, :class => 'adboxw'#, size: '100x100'