.page-header
  %h1=t('.title')


  .row
    - (0..2).each do |index|
      .four.columns
        .table.striped.rounded
          .thead
            .tr
              .th
                = @members[index].full_name
          .tbody
            .tr
              .td
                = image_tag(@members[index].profile_photo.try(:file), size: "100x100")
            .tr
              .td
                = "Status semasa: " + t("reports.users.employment.#{@members[index].current_employment_status}")
            .tr
              .td
                Program:
                %ul
                  - @members[index].programs.uniq.each do |program|
                    %li
                      = program.name


  .row
    - (3..5).each do |index|
      .four.columns
        .table.striped.rounded
          .thead
            .tr
              .th
                = @members[index].full_name
          .tbody
            .tr
              .td
                = image_tag(@members[index].profile_photo.try(:file), size: "100x100")
            .tr
              .td
                = "Status semasa: " + t("reports.users.employment.#{@members[index].current_employment_status}")
            .tr
              .td
                Program:
                %ul
                  - @members[index].programs.uniq.each do |program|
                    %li
                      = program.name