.row
  .nine.columns
    %h4=t('.title')
    %small
      * Untuk dapatkan maklumat lanjut mengenai Program dan Kursus, sila mendaftar untuk menjadi Ahli BizData di 
      = link_to 'sini', new_user_registration_path
  %hr.divider
.row
  .nine.columns
    %ul.three_up.tiles
      - @members.size.times do |index|
        %li.panel
          .image
            - unless @members[index].profile_photo.nil?
              = image_tag(@members[index].try(:profile_photo).try(:file), size: "100x100")
          .name
            %h5{style: "color:#c03d20;"}
              = @members[index].try(:full_name)
          .status
            %section.label.info.full-height-label
              = t("reports.users.employment.#{@members[index].try(:current_employment_status)}")
          .program
            %ul
              - @members[index].try(:programs).try(:uniq).try(:each) do |program|
                %li
                  %small= program.name
  .three.columns.center
    %br
    %br
    %h7
      Bilangan Ahli Terkini
    %h3
      = User.nonadmin.members.count.to_s.rjust(5,'0')