.row
  .twelve.columns
    %h4=t('.title')
  %hr.divider
.row
  %ul.four_up.tiles
    - [0,1,2,3,4,5].each do |index|
      %li.panel.center
        .image
          - unless @members[index].try(:profile_photo).try(:file).nil?
            = image_tag(@members[index].try(:profile_photo).try(:file), size: "100x100")
        .name
          %h5
            = link_to @members[index].try(:full_name), '#'
        .status
          %section.label.info
            = t("reports.users.employment.#{@members[index].try(:current_employment_status)}")
        .program
          %ul
            - @members[index].try(:programs).try(:uniq).try(:each) do |program|
              %li
                %small= program.name