= nested_form_for @survey, :html => { :class => 'form-horizontal' } do |f|
  .field
    = f.label t("name"), :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'text input', :placeholder => :title
  .field
    = f.label t('description'), class: 'control-label'
    = f.text_area :description, class: 'input textarea redactor', :rows => '7'
  .field
    .row
      .six.columns
        = f.text_field :start_date, :class => 'input type start_date datepicker', :include_blank => true, :placeholder => t('start_date'), id: 'start_date'
      .six.columns
        = f.text_field :end_date, :class => 'input type end_date datepicker', :include_blank => true, :placeholder => t('end_date'), id: 'end_date'
  .field.questions
    %h4
      = t('questions')
    = f.fields_for :questions do |q|
      - if q.object.new_record?
        - question_id = q.options[:child_index]
      - else
        - question_id = q.object.id
      .field
        = q.label t('questions'), class: 'control-label'
        = q.text_area :title, class: 'input textarea redactor', :rows => '4'
      .field
        = q.label t('question_type'), class: 'control-label'
        .picker
          = q.select :question_type, options_for_select([[t('yes_no'),'yes_no'],[t('multiple_choice'),'multiple_choice'],[t('scale'),'scale'], [t('subjective'),'subjective']], q.object.question_type), {},{ onchange: "change_question_type(this.value, #{question_id});", class: "question_#{question_id}" }
        %p.hide{ class: "scale_#{question_id}"}
          1 (Sangat Setuju) - 5 (Sangat Tidak Setuju)
      - if q.object.new_record?
        .question_options.hide{ class: "#{question_id}" }
          .field
            = q.label t('option1'), class: 'control-label'
            = q.text_field :option1, class: 'text input', :placeholder => ''
          .field
            = q.label t('option2'), class: 'control-label'
            = q.text_field :option2, class: 'text input', :placeholder => ''
          .field
            = q.label t('option3'), class: 'control-label'
            = q.text_field :option3, class: 'text input', :placeholder => ''
          .field
            = q.label t('option4'), class: 'control-label'
            = q.text_field :option4, class: 'text input', :placeholder => ''
      - else
        - if q.object.question_type == 'multiple_choice'
          .question_options{ class: "#{question_id}" }
            .field
              = q.label t('option1'), class: 'control-label'
              = q.text_field :option1, class: 'text input', :placeholder => ''
            .field
              = q.label t('option2'), class: 'control-label'
              = q.text_field :option2, class: 'text input', :placeholder => ''
            .field
              = q.label t('option3'), class: 'control-label'
              = q.text_field :option3, class: 'text input', :placeholder => ''
            .field
              = q.label t('option4'), class: 'control-label'
              = q.text_field :option4, class: 'text input', :placeholder => ''
        - else
          .question_options.hide{ class: "#{question_id}" }
            .field
              = q.label t('option1'), class: 'control-label'
              = q.text_field :option1, class: 'text input', :placeholder => ''
            .field
              = q.label t('option2'), class: 'control-label'
              = q.text_field :option2, class: 'text input', :placeholder => ''
            .field
              = q.label t('option3'), class: 'control-label'
              = q.text_field :option3, class: 'text input', :placeholder => ''
            .field
              = q.label t('option4'), class: 'control-label'
              = q.text_field :option4, class: 'text input', :placeholder => ''

        = q.link_to_remove 'Remove'
    = f.link_to_add :questions, :class => 'add-question' do
      %i.icon-plus-circled
      = t('add_questions')
  .field
    %hr.divider
    - if f.object.new_record?
      %span.medium.pretty.btn.warning
        %button{:value => 'submit', :onClick => 'submit();'}
          =t('.create')
        / = f.submit t('.create')
    - else
      %span.medium.pretty.btn.warning
        %button{:value => 'submit', :onClick => 'submit();'}
          =t('update')
        / = f.submit t('update')

:javascript
  var change_question_type
  change_question_type = function(question, options_id) {
  if(question =='multiple_choice'){
  $('.' + options_id).show();
  $('.scale_'+ options_id).hide();
  }
  else if(question=='scale'){
  $('.scale_'+ options_id).show();
  $('.' + options_id).hide();
  }
  else{
  $('.' + options_id).hide();
  $('.scale_'+ options_id).hide();
  }
  };