.row
  %h3.twelve.columns
    ="Laporan " + @survey.title
    - chart_type = params[:chart][:type] rescue 'bar'
    - chart_type = 'column' if chart_type == 'bar'
  %hr.divider
.row
  .eight.columns
    %h5= t('.question_breakdown')
  .four.columns
    %span.label.info= "#{t('.answered')} : #{@survey.users.where('completed_surveys.completed is true').count}"
    %span.label.info= "#{t('.requested')} : #{@survey.users.count}"

%script{ :src => 'http://www.google.com/jsapi', :type => 'text/javascript', :charset => 'utf-8' }

.row
  .twelve.columns
    %section.vertical.tabs
      = form_for '' do
        %ul.tab-nav.four.columns
          %li
            = link_to '#' do
              = radio_button 'chart','type', 'bar', onClick: 'submit();',checked: ( chart_type == 'bar' ? 'checked' : false )
              = t('.bar_chart')
          %li
            = link_to '#' do
              = radio_button 'chart','type', 'pie', onClick: 'submit();',checked: ( chart_type == 'pie' ? 'checked' : false )
              = t('.pie_chart')
        .tab-content.eight.columns.active
          - @survey.questions.each_with_index do |q,index|
            
            %h6
              = t('.question') + " #{index + 1}"
            %strong
              = t('.question') + ": "
            = q.title
            - if q.question_type == 'multiple_choice'
              %br
              %ul
                %li
                  = "(A): " + ( q.option1.blank? ? '' : q.option1 )
                %li
                  = "(B): " + ( q.option2.blank? ? '' : q.option2 )
                %li
                  = "(C): " + ( q.option3.blank? ? '' : q.option3 )
                %li
                  = "(D): " + ( q.option4.blank? ? '' : q.option4 )
            - case q.question_type
              - when 'yes_no'
                %table.table.table-striped
                  %thead
                    %tr
                      %th
                        = t('yes_answer')
                      %th
                        = t('no_answer')
                  %tbody
                    %tr
                      %td
                        = q.responses.where('answer = ?','yes').count
                      %td
                        = q.responses.where('answer = ?','no').count
                
                  = render partial: 'survey_graphs', locals: { div_name: "chart_#{index}", graph_data: [['Jawapan','Bil'],['Yes',q.responses.where('answer = ?','yes').count],['No',q.responses.where('answer = ?','no').count]], chart_title: "'Soalan #{index + 1}'", chart_type: chart_type}
                  = content_tag('div','',id: "chart_#{index}")
              - when 'multiple_choice'
                %table.table.table-striped{ style: "width: 400px;"}
                  %thead
                    %tr
                      %th
                        A
                      %th
                        B
                      %th
                        C
                      %th
                        D
                  %tbody
                    %tr
                      %td
                        = q.responses.where('answer = ?','A').count
                      %td
                        = q.responses.where('answer = ?','B').count
                      %td
                        = q.responses.where('answer = ?','C').count
                      %td
                        = q.responses.where('answer = ?','D').count

                  = render partial: 'survey_graphs', locals: { div_name:  "chart_#{index}", graph_data: [['Jawapan','Bil'],['A',q.responses.where('answer = ?','A').count],['B',q.responses.where('answer = ?','B').count],['C',q.responses.where('answer = ?','C').count],['D',q.responses.where('answer = ?','D').count]], chart_title: "'Soalan #{index + 1}'", chart_type: chart_type}
                  
                  = content_tag('div','',id: "chart_#{index}")
              - when 'scale'
                %table.table.table-striped
                  %thead
                    %tr
                      %th
                        1
                      %th
                        2
                      %th
                        3
                      %th
                        4
                      %th
                        5
                  %tbody
                    %tr
                      %td
                        = q.responses.where('answer = ?','1').count
                      %td
                        = q.responses.where('answer = ?','2').count
                      %td
                        = q.responses.where('answer = ?','3').count
                      %td
                        = q.responses.where('answer = ?','4').count
                      %td
                        = q.responses.where('answer = ?','5').count
                %div
                  = render partial: 'survey_graphs', locals: { div_name:  "chart_#{index}", graph_data: [['Jawapan','Bil'],['1',q.responses.where('answer = ?','1').count],['2',q.responses.where('answer = ?','2').count],['3',q.responses.where('answer = ?','3').count],['4',q.responses.where('answer = ?','4').count],['5',q.responses.where('answer = ?','5').count]], chart_title: "'Soalan #{index + 1}'", chart_type: chart_type}

                  = content_tag('div','',id: "chart_#{index}")

              - when 'subjective'
                %table.table.table-striped
                  %thead
                    %tr
                      %th
                        = t('answers')
                  %tbody
                    - q.responses.each do |a|
                      %tr
                        %td
                          = a.answer