
.page-header
  %h1="Laporan " + @survey.title


%table.table-striped
  %thead
    %tr
      %th
        %h4
          = t('.answered')
      %th
        %h4
          ="/#{t('.requested')}"
  %tbody
    %tr
      %td
        %strong
          = @survey.users.where('completed_surveys.completed is true').count
      %td
        %strong
          = @survey.users.count

%br
%br

%h5
  = t('.question_breakdown')

- @survey.questions.each_with_index do |q,index|
  %h6
    = t('.question') + " #{index + 1}"

  - case q.question_type
    - when 'yes_no'
      %table.table.table-striped{ style: "width: 250px;"}
        %thead
          %tr
            %th
              = t('yes_answer')
            %th
              = t('no_answer')
        %tbody
          %tr
            %td
              = q.responses.where('answer = ?','yes').count
            %td
              = q.responses.where('answer = ?','no').count
      %div
        = image_tag( Gchart.bar(data: [0,q.responses.where('answer = ?','yes').count,
                                        q.responses.where('answer = ?','no').count],
                                        labels: ['',t('yes_answer'),t('no_answer')],
                                        axis_with_labels: 'y'))
    - when 'multiple_choice'
      %table.table.table-striped{ style: "width: 400px;"}
        %thead
          %tr
            %th
              A
            %th
              B
            %th
              C
            %th
              D
        %tbody
          %tr
            %td
              = q.responses.where('answer = ?','A').count
            %td
              = q.responses.where('answer = ?','B').count
            %td
              = q.responses.where('answer = ?','C').count
            %td
              = q.responses.where('answer = ?','D').count
      %div
        = image_tag( Gchart.bar(data: [0, q.responses.where('answer = ?','A').count,
                                        q.responses.where('answer = ?','B').count,
                                        q.responses.where('answer = ?','C').count,
                                        q.responses.where('answer = ?','D').count],
                                        labels: ['','A','B','C','D'],
                                        axis_with_labels: 'y'))
    - when 'scale'
      %table.table.table-striped{ style: "width: 400px;"}
        %thead
          %tr
            %th
              1
            %th
              2
            %th
              3
            %th
              4
            %th
              5
        %tbody
          %tr
            %td
              = q.responses.where('answer = ?','1').count
            %td
              = q.responses.where('answer = ?','2').count
            %td
              = q.responses.where('answer = ?','3').count
            %td
              = q.responses.where('answer = ?','4').count
            %td
              = q.responses.where('answer = ?','5').count
      %div
        = image_tag( Gchart.bar(data: [0,q.responses.where('answer = ?','1').count,
                                        q.responses.where('answer = ?','2').count,
                                        q.responses.where('answer = ?','3').count,
                                        q.responses.where('answer = ?','4').count,
                                        q.responses.where('answer = ?','5').count],
                                        labels: ['','1','2','3','4','5'],
                                        axis_with_labels: 'y'))



  