- model_class = Survey
.row
  %h3.twelve.columns
    = @survey.title
  %hr.divider
.row
  .twelve.columns
    %strong= t('name')
    %h5
      = @survey.title
.row
  .twelve.columns
    %strong= t('description')
    %p= @survey.try(:description).try(:html_safe)

.row
  .twelve.columns
    = form_for @survey, url: survey_path do |f|
      - if !@survey.completed && @survey.users.nil?
        = f.hidden_field :completed, value: 1
        %span.medium.pretty.btn.info
          = f.submit t('end_survey')
      - else
        %span.medium.pretty.btn.info
          = link_to t('report'), report_survey_path
      - unless @survey.sent?
        %span.medium.pretty.btn.warning
          = link_to t('edit', :default => t("helpers.links.edit")), edit_survey_path(@survey)
        %span.medium.pretty.btn.danger
          = link_to t('destroy', :default => t("helpers.links.destroy")), survey_path(@survey), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }
  %hr.divider
.row
  - unless @survey.sent?
    .twelve.columns
      %h5 Hantar Survey Ke
      = form_for '',url: send_user_survey_path do |f|
        %ul
          - if current_user
            %li.field
              - if current_user.admin?
                .picker
                  = select_tag 'survey_user_select', options_for_select([[t('.all_users'),'all_users'],[t('.members'),'members'], [t('.nonmembers'),'nonmembers'],[t('.users_by_program'), 'users_by_program'],[t('.users_by_course'),'users_by_course']])
          - elsif current_consultant
            %li.field
              .picker
                = select_tag 'survey_user_select', options_for_select([[t('.users_by_program'), 'users_by_program'],[t('.users_by_course'),'users_by_course']])
          - if current_consultant
            %li.field.survey_program_select_field
              .picker
                = select_tag 'survey_program_select', options_for_select(current_consultant.programs.all.map{|a| [a.name, a.id]}), disabled: false
            %li.field.survey_course_select_field.hide
              .picker
                = select_tag 'survey_course_select', options_for_select(Course.where(program_id: current_consultant.programs.first.id).map{ |a| [a.name,a.id]}), disabled: true
          - else
            %li.field
              .picker
                = select_tag 'survey_program_select', options_for_select(Program.all.map{|a| [a.name, a.id]}), disabled: true, class: 'hide'
            %li.field
              .picker
                = select_tag 'survey_course_select', options_for_select(Course.where(program_id: Program.first.id).map{ |a| [a.name,a.id]}), disabled: true, class: 'hide'
          %li.field
            %span.medium.pretty.btn.info
              %button{:onClick => 'submit();'}
                = t('submit')
              /= f.submit t('submit')
  - else
    = t('this_survey_has_been_sent')