.row
  %h3.twelve.columns
    = t '.title'
  %hr.divider
.row
  .twelve.columns
    = form_for '', :html => { :class => 'form-horizontal custom' } do |f|
      %ul
        - @questions.each do |q|
          = f.label q.title
          - the_field = ''
          - case q.question_type
            - when 'yes_no'
              %li.field
                .row
                  .three.columns
                    = radio_button "question[#{q.id}]", :answer, 'yes'
                    = f.label t('yes_answer')
                  .three.columns
                    = radio_button "question[#{q.id}]",:answer, 'no'
                    = f.label t('no_answer')
            - when 'multiple_choice'
              %li.field
                .row
                  .six.columns
                    = radio_button "question[#{q.id}]", :answer, 'A'
                    = f.label q.option1
                .row
                  .six.columns
                    = radio_button "question[#{q.id}]", :answer, 'B'
                    = f.label q.option2
                .row
                  .six.columns
                    = radio_button "question[#{q.id}]", :answer, 'C'
                    = f.label q.option3
                .row
                  .six.columns
                    = radio_button "question[#{q.id}]", :answer, 'D'
                    = f.label q.option4
            - when 'scale'
              %li.field
                .row
                  .three.columns
                    = f.label t('scale_low')
                  .four.columns
                  .three.columns
                    = f.label t('scale_high')
                .row
                  .two.columns
                    = radio_button "question[#{q.id}]", :answer, 1
                    1
                  .two.columns
                    = radio_button "question[#{q.id}]", :answer, 2
                    2
                  .two.columns
                    = radio_button "question[#{q.id}]", :answer, 3
                    3
                  .two.columns
                    = radio_button "question[#{q.id}]", :answer, 4
                    4
                  .two.columns
                    = radio_button "question[#{q.id}]", :answer, 5
                    5
            - when 'subjective'
              %li.field
                = text_area "question[#{q.id}]", :answer, class: 'textarea input', :rows => 8
          %li.field
            = hidden_field "question[#{q.id}]", 'question_id', value: q.id
        %li.field
          = f.submit t('submit'), :class => ' pretty medium warning btn normal'
