- if current_consultant && !session[:current_program_id].present?
  %h5
    = t('select_a_program_to_manage')
- else
  - if @course_report.new_record?
    - the_path = create_report_course_path(@course)
  - else
    - the_path = update_report_course_path(@course)
  = nested_form_for @course_report,url: the_path, :html => { :class => 'form-horizontal', multipart: true } do |f|
    .row
      %ul
       
        %li.field
          .row
            .twelve.columns
              %h6
                Gambar Kursus
          - i=1
          = f.fields_for :course_photos do |cp|
            .row
              .four.columns
                - if @course_report.course_photos[i-1].file.url != 'default.png'
                  = "Gambar Kursus ##{i}"
                  = image_tag(@course_report.course_photos[i-1].file.thumb)
                - else
                  = "Gambar Kursus ##{i}"
              .eight.columns
                = cp.label "Muatnaik Gambar"
                = cp.file_field :file
                %small
                  = t('image_should_be_this_size')
            - i+=1
       
        = f.hidden_field :finalized, value: ''
        = hidden_field_tag 'step', 'course_photos'
        %li.field
          - if @course_report.new_record? || @step == 'course_photos'
            %span.medium.pretty.btn.warning
              / = f.submit t('.create_course')
              %button{:onClick => 'submit();'}= t('next')
     
          / - if !@course_report.finalized?
          /   %span.medium.pretty.btn.warning
          /     %button{:onClick => 'finalizeCourse();submit();'}= t('save')
             
          %span.medium.pretty.btn.default
            = link_to t('cancel', :default => t("helpers.links.cancel")), my_reports_consultant_path(current_consultant)


      

