- if current_consultant && !session[:current_program_id].present?
  %h5
    = t('select_a_program_to_manage')
- else
  = form_for @course, :html => { :class => 'form-horizontal' } do |f|
    %ul
      %li.field
        = f.label t('.course_name'), :class => 'control-label'
        = f.text_field :name, :class => 'text input', :placeholder => ''
      %li.field
        .row
          .six.columns
            = f.label t('.course_type'), :class => 'control-label'
            .picker
              = f.select :course_type, options_for_select([['Seminar','Seminar'],['Bengkel','Bengkel'],['Ceramah','Ceramah']])
          .six.columns
            = f.label 'Program', class: 'control-label'
            - if can? :manage, :all
              .picker
                = f.select :program_id, options_for_select(Program.all.map{|a| [a.name, a.id]}, f.object.program_id)
            - elsif current_consultant
              .picker
                = select 'disabled', 'program_id', options_for_select(Program.all.map{|a| [a.name, a.id]}, session[:current_program_id]),{}, { disabled: true }
                = hidden_field_tag :course_program_id, current_consultant.try(:programs).first.try(:id), name: 'course[program_id]'

      %li.field
        = f.label t('description'), :class => 'control-label'
        = f.text_area :description, :class => 'textarea input', :rows => 5
      %li.field
        = f.label t('venue'), :class => 'control-label'
        = f.text_field :venue, :class => 'text input', :placeholder => ''
      %li.field
        = f.label t('pax'), class: 'control-label'
        = f.text_field :pax, class: 'text input', :placeholder => ''
      %li.field
        .rows
          .six.columns
            = f.label t('start_date'), :class => 'control-label'
            = f.text_field :start_date, :class => 'start_date datepicker text input'
          .six.columns
            = f.label t('end_date'), :class => 'control-label'
            = f.text_field :end_date, :class => 'end_date datepicker text input'
      %li.field
        = f.label t('status'), :class => "radio #{(@course.status? ? 'checked' : '')}"  do
          = radio_button("course","status", true, :class => 'radio')
          %span
          = t('active')
        = f.label t('status'), :class => "radio #{(@course.status? ? '' : 'checked')}"   do
          = radio_button("course","status", false, :class => 'radio')
          %span
          = t('inactive')
      %li.field
        - if @course.new_record?
          %span.medium.pretty.btn.warning
            / = f.submit t('.create_course')
            %button{:onClick => 'submit();'}= t('.create_course')
        - else
          %span.medium.pretty.btn.warning
            / = f.submit t('update')
            %button{:onClick => 'submit();'}= t('.update')
        %span.medium.pretty.btn.default
          = link_to t('cancel', :default => t("helpers.links.cancel")), courses_path
