= form_for @course, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label t('.course_name'), :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label t('.course_type'), :class => 'control-label'
    .controls
      = f.select :course_type, options_for_select([['Seminar','Seminar'],['Bengkel','Bengkel'],['Ceramah','Ceramah']])
  .control-group
    = f.label 'Program', class: 'control-label'
    .controls
      - if can? :manage, :all
        = f.select :program_id, options_for_select(Program.all.map{|a| [a.name, a.id]}, f.object.program_id)
      - elsif current_consultant
        =#todo change to session[:current_program_id]
        = select 'disabled', 'program_id', options_for_select(Program.all.map{|a| [a.name, a.id]}, current_consultant.try(:programs).first.try(:id)),{}, { disabled: true }
        = hidden_field_tag :course_program_id, current_consultant.try(:programs).first.try(:id), name: 'course[program_id]'

  .control-group
    = f.label t('description'), :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'text_area_large'
  .control-group
    = f.label t('venue'), :class => 'control-label'
    .controls
      = f.text_field :venue, :class => 'text_field'
  .control-group
    = f.label t('pax'), class: 'control-label'
    .controls
      = f.text_field :pax, class: 'text_field'
  .control-group
    = f.label t('start_date'), :class => 'control-label'
    .controls
      = f.date_select :start_date, :class => 'date_select', :include_blank => true
  .control-group
    = f.label t('end_date'), :class => 'control-label'
    .controls
      = f.date_select :end_date, :class => 'date_select', :include_blank => true
  .control-group
    = f.label t('status'), :class => 'control-label'
    .controls
      = radio_button("course","status", true)
      = t('active')
      %br/
      = radio_button("course","status", false)
      = t('inactive')
      %br/
  .form-actions
    - if @course.new_record?
      = f.submit t('.create_course'), :class => 'btn btn-primary'
    - else
      = f.submit t('update'), class: 'btn btn-primary'
    = link_to t('cancel', :default => t("helpers.links.cancel")), |
      courses_path, :class => 'btn'                                |
