.page-header
  - if current_consultant && !session[:current_program_id].nil?
    %h1="#{t('.title')} #{session[:current_program_name]}"

.pagination-left
  = paginate @courses unless @courses.empty?


%table.table.table-striped
  - if current_consultant && session[:current_program_id].nil?
    %h2=t('select_a_program_to_manage')
  - else
    %thead
      %tr
        %th
          = t('course_name')
        %th{:style => "width:100px;"}
          = t('description')
        %th
          = t('program_name')
        %th
          = t('start_date')
        %th
          = t('end_date')
        %th
          = t('active')
        %th
        
      %tbody
        - @courses.each do |course|
          %tr
            %td
              = link_to course.name, course_path(course)
            %td
              =# course.description
              = truncate(course.description, :length => 80)
            %td
              = course.program.name unless course.program.nil?
            %td
              = course.start_date
            %td
              = course.end_date
            %td
              = course.status? ? t('active') : t('inactive')
            %td{:style => "width:220px;"}
              = mail_to "example@example.com", t('.share'), :subject => "Ada kursus menarik dari PKNS - #{course.try(:program).try(:name)}", :body => "Ada kursus menarik dari PKNS. Sila lewati #{"http://"+request.host+course_path(course)}. \n\nAnda perlu berdaftar dengan BizClub untuk hadiri kursus di #{new_user_registration_url}. \n\nMaklumat Kursus \nKursus : #{course.try(:program).try(:name)} \nHuraian : #{course.try(:program).try(:description)} \nTarikh : #{course.start_date}", :class => 'btn btn-mini'
              = link_to t('view', :default => t("helpers.links.edit")),
                            course_path(course), :class => 'btn btn-secondary btn-mini' 
              - if can? :destroy, Course
                =link_to t('destroy', :default => t("helpers.links.destroy")),
                                course_path(course),
                                :method => :delete,
                                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => t('are_you_sure'))) },
                                :class => 'btn btn-mini btn-danger'

.pagination-left
  = paginate @courses unless @courses.empty?

- if can? :manage, Course
  = link_to t('.create_course', :default => t("helpers.links.new")), new_course_path, :class => 'btn btn-primary' 
