.row
  %h3.nine.columns
    - if current_consultant && !session[:current_program_id].nil?
      ="#{t('.title')} #{session[:current_program_name]}"
  .three.columns.action
    - if can? :manage, Course
      %span.pretty.medium.primary.btn.entypo.icon-left.icon-list-add
        = link_to t('create_course', :default => t("helpers.links.new_user")), new_course_path
.table
  - if current_consultant && session[:current_program_id].nil?
    .row
      .twelve.columns
        %h4= t('select_a_program_to_manage')
  -else
    .row.table-head
      .six.columns
        %h6.title= t('course_name')
      .four.columns
        %h6.title= t('program_name')
      .two.columns
        %h6.title= t('status')
    - @courses.each_with_index do |course, i|
      .row.table-rows
        .six.columns
          %p
            = link_to course.name, course_path(course), :class => 'name'
          %p
            = truncate(course.description, :length => 200)
          .row
            %small.label.info
              = "#{t('status')} :"
              = course.status? ? t('active') : t('inactive')
            %small.label.info
              = "#{t('start_date')} :"
              = "#{course.start_date} - #{course.end_date}"
        .four.columns
          %p
            = course.program.name unless course.program.nil?
        .two.columns
          .row
            .twelve.columns
            .twelve.columns
              %span.pretty.small.btn.info.icon-left.entypo.icon-eye
                = link_to t('view', :default => t("helpers.links.edit")), course_details_path(course)
            .twelve.columns
              %span.pretty.small.btn.warning.icon-left.entypo.icon-mail
                = mail_to "example@example.com", t('share'), :subject => "Ada kursus menarik dari PKNS - #{course.try(:program).try(:name)}", :body => "Ada kursus menarik dari PKNS. Sila lewati #{"http://"+request.host+course_path(course)}. \n\nAnda perlu berdaftar dengan Biz Data untuk hadiri kursus. \n\nMaklumat Kursus \nKursus : #{course.try(:program).try(:name)} \nHuraian : #{course.try(:program).try(:description)} \nTarikh : #{course.start_date}"
            .twelve.columns
              %span.pretty.small.btn.danger.icon-left.entypo.icon-trash
                - if can? :destroy, Course
                  = link_to t('destroy', :default => t("helpers.links.destroy")),
                              course_path(course),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => t('are_you_sure'))) }
    = paginate @courses
