= render 'gcharts'
%h6
  Laporan Analisa Kursus
%hr
.row
  .four.columns
    Tajuk
  .four.columns
    = @course.name
.row
  .four.columns
    Tarikh
  .four.columns
    = @course.start_date
.row
  .four.columns
    Tempat
  .four.columns
    = @course_report.course_venue
.row
  .four.columns
    Anggaran Peserta
  .four.columns
    = @course_report.course_targeted_attendees
.row
  .four.columns
    Hadir
  .four.columns
    = @course_report.course_actual_attendees
.row
  .four.columns
    Penceramah/Jemputan/VIP
  .four.columns
    = @course_report.course_no_of_vips

%hr
.row
  Rumusan Program
.row
  = @course_report.course_summary.html_safe
 
%hr

.row
  .six.columns
    - if @course_report.course_schedule
      - if @course_report.course_schedule.file
        = image_tag(@course_report.course_schedule.file, size: '800x600')

%hr
.row
  %h6
    Laporan Bergambar
.row
  .four.columns
    Tajuk:
  .four.columns
    = @course_report.course.name
.row
  .four.columns
    Tarikh:
  .four.columns
    = @course.start_date
.row
  .four.columns
    Tempat:
  .four.columns
    = @course_report.course_venue
.row
  - @course_report.course_photos[0..1].each do |photo|
    .five.columns
      = image_tag(photo.try(:file))
.row
  - @course_report.course_photos[2..3].each do |photo|
    .five.columns
      = image_tag(photo.try(:file))
.row
  - @course_report.course_photos[4..5].each do |photo|
    .five.columns
      = image_tag(photo.try(:file))

%hr

- if @course_report.course_survey
  .row
    %h6
      Laporan Kajiselidik Kursus
    %br
    - @course_report.course_survey.questions.each_with_index do |q,i|
      %strong
        = "Soalan #{ i+1 }"
      %br
      = "Soalan: "
      = q.title
      - case q.question_type
        - when 'yes_no'
          %table.table.table-striped
            %thead
              %tr
                %th
                  Ya
                %th
                  Tidak
            %tbody
              %tr
                %td
                  = q.responses.where('answer = ?','ya').count
                %td
                  = q.responses.where('answer <> ?','ya').count

        - when 'scale'
          %table.table.table-striped
            %thead
              %tr
                %th
                  1
                %th
                  2
                %th
                  3
                %th
                  4
                %th
                  5
                %tbody
                  %tr
                    %td
                      = q.responses.where('answer = ?','1').count
                    %td
                      = q.responses.where('answer = ?','2').count
                    %td
                      = q.responses.where('answer = ?','3').count
                    %td
                      = q.responses.where('answer = ?','4').count
                    %td
                      = q.responses.where('answer = ?','5').count

#agechart

