
<div class='control-group'>
  <%= a.label :phone, class: 'control-label' %>
  <div class='controls'>
    <%= a.text_field :phone, class: 'text_field' %>
  </div>
</div>
<div class='control-group'>
  <%= a.label :fax, class: 'control-label' %>
  <div class='controls'>
    <%= a.text_field :fax, class: 'text_field' %>
  </div>
</div>
<div class='control-group'>
  <%= a.label :line1, class: 'control-label' %>
  <div class='controls'>
    <%= a.text_field :line1, class: 'text_field' %>
  </div>
</div>
<div class='control-group'>
  <%= a.label :line2, class: 'control-label' %>
  <div class='controls'>
    <%= a.text_field :line2, class: 'text_field' %>
  </div>
</div>
<div class='city_fields'>
  <%= a.fields_for :city do |c| %>
    <div class='control-group'>
      <%= c.label 'City', class: 'control-label' %>
      <div class='controls'>
        <% if c.object.id %>
          <% @cities = City.where(state_name: c.object.state_name).order(:name) %>
        <% else %>
          <% @cities = City.where(state_name: 'Selangor').order(:name) %>
        <% end %>
        <%= select_tag "#{a.object.addressable_type.downcase}_city", options_for_select(@cities.map{ |a| [a.name, a.id]}, selected: c.object.id ) %>
      </div>
    </div>
  <% end %>
</div>
<div class='control-group'>
  <%= a.label :postcode, class: 'control-label' %>
  <div class='controls'>
    <%= a.text_field :postcode, class: 'text_field' %>
  </div>
</div>
<div class='state_fields'>
  <%= a.fields_for :city do |c| %>
    <div class='control-group'>
      <%= c.label 'State', class: 'control-label' %>
      <div class='controls'>
        <% if c.object.state_name %>
          <% selected_state = c.object.state_name %>
        <% else %>
          <% selected_state = 'Selangor' %>
        <% end %>
        <%= select_tag "#{a.object.addressable_type.downcase}_state", options_for_select(City.order(:state_name).map{ |a| [a.state_name]}.uniq, selected: selected_state) %>
      </div>
    </div>
  <% end %>
</div>
