
= form_tag 'programs', id: 'activity_program_report_form',remote: true do
     = "Bilangan Aktiviti Dalam Program"
     = select :activity_program, :program, Program.order(:name).map{|a| [a.name,a.id]}, {:include_blank => true, selected: params[:program] || ''}
     %br
     = "Dari tahun"
     = select :activity_program, :start_year, (2000..2030), {selected: params[:start_year] || 1.year.ago.year }
     = "ke tahun"
     = hidden_field :report, :type, value: 'activity_program'
     = select :activity_program, :end_year, (2000..2030), {selected:  params[:end_year] || Date.today.year}, onChange: 'submitReportRequest("activity_program");'
     = button_tag 'Papar', onClick: 'event.preventDefault();submitReportRequest("activity_program");'

#activity_program_results