.row
  .twelve.columns.center
    .table
      .row.table-head
        .four.columns
          %h6.title
        - @years.each do |year|
          .two.columns
            %h6.title
              = year
        .two.columns
          %h6.title
            Jumlah
      - course_types = @program.course_types
      - course_types.each do |course_type|
        .row.table-rows
          .four.columns
            %p
              = course_type
          - @years.each do |year|
            .two.columns
              %p
                = @program.courses.completed.year(year).course_type(course_type).count
          .two.columns
            %p
              - total = 0
              - @years.each do |year|
                - total += @program.courses.completed.year(year).course_type(course_type).count
              = total
      .row.table-rows
        .four.columns
          %p
            Jumlahbn

        - @years.each  do |year|
          .two.columns
            %p
              - total = 0
              - course_types.each do |course_type|
                - total += @program.courses.completed.year(year).course_type(course_type).count
              = total

.row
  .twelve.columns
    
   
     