.row
  .twelve.columns.center
    .table
      .row.table-head
        .six.columns
          %h6.title
            = t('age')
        .two.columns
          %h6.title
            = t('male')
        .two.columns
          %h6.title
            = t('female')
        .two.columns
          %h6.title
            = t('total')
      .row.table-rows
        .six.columns
          %p
            Bawah 13 tahun
        .two.columns
          %p
            = @members.male.age_13_below.count
        .two.columns
          %p
            = @members.female.age_13_below.count
        .two.columns
          %p
            = @members.female.age_13_below.count + @members.male.age_13_below.count
      .row.table-rows
        .six.columns
          %p
            13 - 18 tahun
        .two.columns
          %p
            = @members.male.age_13_18.count
        .two.columns
          %p
            = @members.female.age_13_18.count
        .two.columns
          %p
            = @members.female.age_13_18.count + @members.male.age_13_18.count

      .row.table-rows
        .six.columns
          %p
            19 - 24 tahun
        .two.columns
          %p
            = @members.male.age_19_24.count
        .two.columns
          %p
            = @members.female.age_19_24.count
        .two.columns
          %p
            = @members.female.age_19_24.count + @members.male.age_19_24.count
      .row.table-rows
        .six.columns
          %p
            25 - 40 tahun
        .two.columns
          %p
            = @members.male.age_25_40.count
        .two.columns
          %p
            = @members.female.age_25_40.count
        .two.columns
          %p
            = @members.female.age_25_40.count + @members.male.age_25_40.count
      .row.table-rows
        .six.columns
          %p
            Atas 41 tahun
        .two.columns
          %p
            = @members.male.age_41_above.count
        .two.columns
          %p
            = @members.female.age_41_above.count
        .two.columns
          %p
            = @members.female.age_41_above.count + @members.male.age_41_above.count
      .row.table-rows
        .six.columns
          %p.bold
            Jumlah
        .two.columns
          %p.bold
            = @members.male.count
        .two.columns
          %p.bold
            = @members.female.count     
        .two.columns
          %p   
.row
  .twelve.columns
    
    - labels = [ '<13','13-18','19-24','25-40','>41' ]
    - legends = [ 'Ahli', 'Bukan Ahli']
    - title = 'Pecahan Ahli Mengikut Jantina'
    - values = [ @members.male.age_13_below.count + @members.female.age_13_below.count, @members.male.age_13_18.count + @members.female.age_13_18.count, @members.male.age_19_24.count + @members.female.age_19_24.count, @members.male.age_25_40.count + @members.female.age_25_40.count, @members.male.age_41_above.count + @members.female.age_41_above.count]
    = image_tag Gchart.bar(title: title,labels: labels, legend: legends, :axis_with_labels=> 'y', :data => [[@members.male.age_13_below.count, @members.male.age_13_18.count, @members.male.age_19_24.count, @members.male.age_25_40.count, @members.male.age_41_above.count], [@members.female.age_13_below.count, @members.female.age_13_18.count, @members.female.age_19_24.count, @members.female.age_25_40.count, @members.female.age_41_above.count]], :size=>'400x300' ,:bar_colors => '00EE00,EE0000',:bar_width_and_spacing => '40,10', max_value: values.max , min_value: 0)
  %hr
    -title = 'Pecahan Umur Keseluruhan Ahli'
    - legend = [ '<13','13-18','19-24','25-40','>41' ]
    - colours = ['#e0440e', '#e6693e', '#ec8f6e', '#f3b49f', '#f6c7b6']
    = image_tag Gchart.pie_3d(title: title, data: [@members.age_13_below.count, @members.age_13_18.count, @members.age_19_24.count, @members.age_25_40.count, @members.age_41_above.count], labels: [@members.age_13_below.count, @members.age_13_18.count, @members.age_19_24.count, @members.age_25_40.count, @members.age_41_above.count], legend: legend, size: '600x300')