.row
  .twelve.columns.center
    .table
      .row.table-head
        .six.columns
          %h6.title
            = t('age')
        .three.columns
          %h6.title
            = t('member')
        .three.columns
          %h6.title
            = t('nonmember')

        
      .row.table-rows
        .six.columns
          %p
            Bawah 13 tahun
        .three.columns
          %p
            = @members.age_13_below.count
        .three.columns
          %p
            = @nonmembers.age_13_below.count
      .row.table-rows
        .six.columns
          %p
            13 - 18 tahun
        .three.columns
          %p
            = @members.age_13_18.count
        .three.columns
          %p
            = @nonmembers.age_13_18.count
      .row.table-rows
        .six.columns
          %p
            19 - 24 tahun
        .three.columns
          %p
            = @members.age_19_24.count
        .three.columns
          %p
            = @nonmembers.age_19_24.count
      .row.table-rows
        .six.columns
          %p
            25 - 40 tahun
        .three.columns
          %p
            = @members.age_25_40.count
        .three.columns
          %p
            = @nonmembers.age_25_40.count
      .row.table-rows
        .six.columns
          %p
            Atas 41 tahun
        .three.columns
          %p
            = @members.age_41_above.count
        .three.columns
          %p
            = @nonmembers.age_41_above.count
      .row.table-rows
        .six.columns
          %p.bold
            Jumlah
        .three.columns
          %p.bold
            = @members.count
        .three.columns
          %p.bold
            = @nonmembers.count        
.row
  .twelve.columns
    
    - labels = [ '<13','13-18','19-24','25-40','>41' ]
    - legends = [ 'Ahli', 'Bukan Ahli']
    - title = 'Pecahan Ahli mengikut julat umur'
    - values = [ @nonadmin_users.age_13_below.count, @nonadmin_users.age_13_18.count, @nonadmin_users.age_19_24.count, @nonadmin_users.age_25_40.count, @nonadmin_users.age_41_above.count ]
    = image_tag Gchart.bar(title: title,labels: labels, legend: legends, :axis_with_labels=> 'y', :data => [[@members.age_13_below.count, @members.age_13_18.count, @members.age_19_24.count, @members.age_25_40.count, @members.age_41_above.count], [@nonmembers.age_13_below.count, @nonmembers.age_13_18.count, @nonmembers.age_19_24.count, @nonmembers.age_25_40.count, @nonmembers.age_41_above.count]], :size=>'400x300' ,:bar_colors => '00EE00,EE0000',:bar_width_and_spacing => '40,10', max_value: values.max , min_value: 0)