<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    <%
      chart_data = []
      chart_data << ['Program', 'Tidak Berniaga', 'Aktif Berniaga']
      @by_program_data.each do |key,value|
        unless key == 'Jumlah'
          new_row = [key,value['without_business'],value['with_business']]
          chart_data << new_row
        end
      end
    %>
    var data = google.visualization.arrayToDataTable(<%= chart_data.to_s.html_safe %>);

    var options = {
      title: 'Bilangan Ahli (Tidak Berniaga/Aktif Berniaga) Mengikut Justifikasi Program',
      isStacked: true,
      width: '500',
      height: '600',
      chartArea: {width: '75%', height: '50%', left: 0},
legend: {position: 'out'},
titlePosition: 'out', axisTitlesPosition: 'out',
hAxis: {textPosition: 'out'}, vAxis: {textPosition: 'in'},
      hAxis: {title: 'Program', titleTextStyle: {color: 'red'},slantedText: true}
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('usersprogramchart'));
    chart.draw(data, options);
  }


</script>
<div class="row">
  <div class="twelve columns">
    <div class="table">
      <div class="row table-head">
        <div class="five columns">
          <h6 class="title">
            Program
          </h6>
        </div>
        <div class="three columns center">
          <h6 class="title">
            Tidak Berniaga
          </h6>
        </div>
        <div class="three columns center">
          <h6 class="title">
            Aktif Berniaga
          </h6>
        </div>
      </div>
      <% @by_program_data.each do |key,value| %>
        <div class="row table-rows" >
          <% if key == 'Jumlah' %>
            <div class="five columns">
              <strong>
                <%= key %>
              </strong>
            </div>
            <div class="three columns center">
              <strong>
                <%= value['without_business'] %>
              </strong>
            </div>
            <div class="three columns center">
              <strong>
                <%= value['with_business'] %>
              </strong>
            </div>
          <% else %>
            <div class="five columns">
              <p>
                <%= key %>
              </p>
            </div>
            <div class="three columns center">
              <p>
                <%= value['without_business'] %>
              </p>
            </div>
            <div class="three columns center">
              <p>
                <%= value['with_business'] %>
              </p>
            </div>
          <% end %>
        </div>
      <% end %>
      
     
    </div>
  </div>
</div>

