
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Umur', 'Ahli', 'Bukan Ahli'],
      ['<13',  <%= @members.age_13_below.count%>,      <%= @nonmembers.age_13_below.count%>],
      ['13-18',  <%= @members.age_13_18.count %>,      <%= @nonmembers.age_13_18.count %>],
      ['19-24',  <%= @members.age_19_24.count %>,       <%= @nonmembers.age_19_24.count %>],
      ['25-40',  <%= @members.age_25_40.count %>,      <%= @nonmembers.age_25_40.count %>],
      ['41>', <%= @members.age_41_above.count %>,<%= @nonmembers.age_41_above.count %>]
    ]);

    var options = {
      title: 'Pecahan Ahli Mengikut Umur',
      isStacked: true,
      height: '300',
      width: '500',
      hAxis: {title: 'Umur', titleTextStyle: {color: 'red'}}
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('agechart'));
    chart.draw(data, options);
  }
</script>
<div class="row">
  <div class="twelve columns">
    <div class="table">
      <div class="row table-head">
        <div class="six columns">
          <h6 class="title">
            Umur
          </h6>
        </div>
        <div class="three columns center">
          <h6 class="title">
            Ahli
          </h6>
        </div>
        <div class="three columns center">
          <h6 class="title">
            Bukan Ahli
          </h6>
        </div>
      </div>
      <div class="row table-rows">
        <div class="six columns">
          <p>
            Bawah 13 tahun
          </p>
        </div>
        <div class="three columns center">
          <p>
            <%= @members.age_13_below.count %>
          </p>
        </div>
        <div class="three columns center">
          <p>
            <%= @nonmembers.age_13_below.count %>
          </p>
        </div>
      </div>
      <div class="row table-rows">
        <div class="six columns">
          <p>
            13 - 18 tahun
          </p>
        </div>
        <div class="three columns center">
          <p>
            <%= @members.age_13_18.count %>
          </p>
        </div>
        <div class="three columns center">
          <p>
            <%= @nonmembers.age_13_18.count %>
          </p>
        </div>
      </div>
      <div class="row table-rows">
        <div class="six columns">
          <p>
            19 - 24 tahun
          </p>
        </div>
        <div class="three columns center">
          <p>
            <%= @members.age_19_24.count %>
          </p>
        </div>
        <div class="three columns center">
          <p>
            <%= @nonmembers.age_19_24.count %>
          </p>
        </div>
      </div>
      <div class="row table-rows">
        <div class="six columns">
          <p>
            25 - 40 tahun
          </p>
        </div>
        <div class="three columns center">
          <p>
            <%= @members.age_25_40.count %>
          </p>
        </div>
        <div class="three columns center">
          <p>
            <%= @nonmembers.age_25_40.count %>
          </p>
        </div>
      </div>
      <div class="row table-rows">
        <div class="six columns">
          <p>
            Atas 41 tahun
          </p>
        </div>
        <div class="three columns center">
          <p>
            <%= @members.age_41_above.count %>
          </p>
        </div>
        <div class="three columns center">
          <p>
            <%= @nonmembers.age_41_above.count %>
          </p>
        </div>
      </div>
      <div class="row table-rows">
        <div class="six columns">
          <p class="bold">
            Jumlah
          </p>
        </div>
        <div class="three columns center">
          <p class="bold">
            <%= @members.count %>
          </p>
        </div>
        <div class="three columns center">
          <p class="bold">
            <%= @nonmembers.count %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div id="agechart" style="width: 500px; height: 300px;"></div>

</div>