.row.charts
  .four.columns.center
    %h4
      = @users_with_business
    %small= t('.users_with_business')
  .four.columns.center
    %h4
      = @business_categories.count
    %small= t('.number_of_business_categories')
  .four.columns.center
    /
      %h4
        = t('.details_by_business_category')
    - @business_categories.each_with_index do |b,i|
      %h4
        = @business_categories_users[i]
      %small= b
/ .row
/   .twelve.columns
/     %hr
/     - labels = @business_categories_percentages
/     - legend = @business_categories
/     - data = @business_categories_users
/     = image_tag Gchart.pie(title: t('.business_categories'), labels: labels,legend: legend, data: data, size: '600x280')