.page-header
  %h1= t('.title')

.consultants-section
  %h4
    = t('.consultant_details')
  .row-fluid
    .span3
      %dl.dl-horizontal
        %dt.wide-dt
          %strong
            = t('.number_of_consultants')
            \:
        %dd
          = @total_consultants
        %dt.wide-dt
          %strong
            = t('.number_of_active_consultants')
            \:
        %dd
          = @active_consultants
        %dt.wide-dt
          %strong
            = t('.number_of_inactive_consultants')
            \:
        %dd
          = @inactive_consultants
    .span4
      - labels = [ @percent_active_consultants, @percent_inactive_consultants ]
      - legend = [ t('.number_of_active_consultants'), t('.number_of_inactive_consultants')]
      = image_tag Gchart.pie(title: 'Jumlah Perunding', |
                            labels: labels, |
                            legend: legend, |
                            data: [@active_consultants.to_i, |
                            @inactive_consultants.to_i], |
                            size: '500x200')