.page-header
  %h1= t('.title')

.consultants-section
  %h4
    = t('.consultant_details')
  .row-fluid
    .span3
      %dl.dl-horizontal
        %dt.wide-dt
          %strong
            = t('.number_of_consultants')
            \:
        %dd
          = @total_consultants
        %dt.wide-dt
          %strong
            = t('.number_of_active_consultants')
            \:
        %dd
          = @active_consultants
        %dt.wide-dt
          %strong
            = t('.number_of_inactive_consultants')
            \:
        %dd
          = @inactive_consultants
    .span4
      - labels = [ @percent_active_consultants, @percent_inactive_consultants ]
      - legend = [ t('.number_of_active_consultants'), t('.number_of_inactive_consultants')]
      = image_tag Gchart.pie(title: 'Jumlah Perunding', |
                            labels: labels, |
                            legend: legend, |
                            data: [@active_consultants.to_i, |
                            @inactive_consultants.to_i], |
                            size: '500x200')

  %br
  %br
  .row-fluid
    %h4=t('.individual_consultant_report')
    = form_tag '', method: :post do
      #search-drawer.twelve.columns
        .row
          .four.columns.field
            = label :search, :name, t('search_by_name')
            = text_field_tag 'search_name','', name: 'search[name]', :placeholder => 'Search..', :class => 'text input'
          .four.columns.field
            = label :search, :ic, t('search_by_ic_number')
            = text_field_tag 'search_ic','', name: 'search[ic]', :placeholder => 'Search..', :class => 'text input'
          
        .row
          .two.columns
            %span.pretty.medium.primary.btn.entypo.icon-left.icon-search
              = button_tag t('search'), onClick: 'submit();'