.row
  %span.medium.btn.default
    = button_tag 'Cetak', onClick: 'print();'
.row
  %h3.three.columns
    =t '.title'
  .nine.columns
    %small
      %ul
        %li
          * Sila cetak laporan KPI sebelum bulan Disember setiap tahun.
        %li
          * Laporan KPI akan menyimpan data program dan kursus untuk 1 tahun.
.row
  %p 
    = "Tarikh Laporan: #{@the_date}"
%table.table.kpi
  %tr
    %th{rowspan: 2}
      Bil
    %th{rowspan: 2, colspan: 2}
      Program
    %th{colspan: 12}
      Bilangan Peserta
    %th{rowspan: 2}
      Jumlah Semasa
    %th{rowspan: 2}
      Sasaran Semasa (Peserta/Penyertaan)
    %th{rowspan: 2}
      Sasaran Tahunan (Peserta/Penyertaan)
    %th{rowspan: 2}
      \% Pencapaian (Semasa)
    %th{rowspan: 2}
      \% Pencapaian (Tahunan)
  %tr
    %th
      Jan
    %th
      Feb
    %th
      Mar
    %th
      Apr
    %th
      Mei
    %th
      Jun
    %th
      Jul
    %th
      Ogo
    %th
      Sep
    %th
      Okt
    %th
      Nov
    %th
      Dis
  - i = 1

  - previous = ''
  - @kpi_results.each do |key, value| 
    - rowspan = value['number_of_course_types']
    - unless key == 'current_month'
      - header_colour = ( i%2==0 ? '#f88158' : '#ffffff')
      %tr
        %td{rowspan: rowspan, style: "background-color:#{header_colour}"}
          = i
        %td{rowspan: rowspan, style: "background-color:#{header_colour}"}
          = key

        - j = 0
        - value.each do |k,v|
          - unless k == 'number_of_course_types'
            - coloured = ( previous == '#ffffff' ? '#f88158' : '#ffffff' )
            - previous = coloured
            - if j == 0
              
              %td{style: "background-color:#{coloured}"}
                = k
              %td{style: "background-color:#{coloured}"}
                = v['jan']
              %td{style: "background-color:#{coloured}"}
                = v['feb']  
              %td{style: "background-color:#{coloured}"}
                = v['mar']  
              %td{style: "background-color:#{coloured}"}
                = v['apr']  
              %td{style: "background-color:#{coloured}"}
                = v['may']  
              %td{style: "background-color:#{coloured}"}
                = v['jun']  
              %td{style: "background-color:#{coloured}"}
                = v['jul']  
              %td{style: "background-color:#{coloured}"}
                = v['aug']  
              %td{style: "background-color:#{coloured}"}
                = v['sep']  
              %td{style: "background-color:#{coloured}"}
                = v['oct']  
              %td{style: "background-color:#{coloured}"}
                = v['nov']  
              %td{style: "background-color:#{coloured}"}
                = v['dec']  
              %td{style: "background-color:#{coloured}"}
                = v['current_total']
              %td{style: "background-color:#{coloured}"}
                = "#{v['per_session_target']} org/1 sesi"
                
                = "@<br/>#{v['current_target']} org /#{v['current_number_of_courses']} sesi".html_safe unless ( v['current_target'] == 0 && v['current_number_of_courses'] == 0 )
              %td{style: "background-color:#{coloured}"}
                = "#{v['per_session_target']} org/1 sesi"
              
                = "@<br/>#{v['yearly_target']} org /#{v['yearly_number_of_courses']} sesi".html_safe  unless ( v['yearly_target'] == 0 && v['yearly_number_of_courses'] == 0 )
              %td{style: "background-color:#{coloured}"}
                = "#{v['current_actual']} %"
              %td{style: "background-color:#{coloured}"}
                = "#{v['yearly_actual']} %"
            - else
              %tr
                %td{style: "background-color:#{coloured}"}
                  = k
                %td{style: "background-color:#{coloured}"}
                  = v['jan']
                %td{style: "background-color:#{coloured}"}
                  = v['feb']  
                %td{style: "background-color:#{coloured}"}
                  = v['mar']  
                %td{style: "background-color:#{coloured}"}
                  = v['apr']  
                %td{style: "background-color:#{coloured}"}
                  = v['may']  
                %td{style: "background-color:#{coloured}"}
                  = v['jun']  
                %td{style: "background-color:#{coloured}"}
                  = v['jul']  
                %td{style: "background-color:#{coloured}"}
                  = v['aug']  
                %td{style: "background-color:#{coloured}"}
                  = v['sep']  
                %td{style: "background-color:#{coloured}"}
                  = v['oct']  
                %td{style: "background-color:#{coloured}"}
                  = v['nov']  
                %td{style: "background-color:#{coloured}"}
                  = v['dec']  
                %td{style: "background-color:#{coloured}"}
                  = v['current_total']
                %td{style: "background-color:#{coloured}"}
                  = "#{v['per_session_target']} org/1 sesi"
                  
                  = "@<br/>#{v['current_target']} org /#{v['current_number_of_courses']} sesi".html_safe unless ( v['current_target'] == 0 && v['current_number_of_courses'] == 0 )
                %td{style: "background-color:#{coloured}"}
                  = "#{v['per_session_target']} org/1 sesi"
                
                  = "@<br/>#{v['yearly_target']} org /#{v['yearly_number_of_courses']} sesi".html_safe  unless ( v['yearly_target'] == 0 && v['yearly_number_of_courses'] == 0 )
                %td{style: "background-color:#{coloured}"}
                  = "#{v['current_actual']} %"
                %td{style: "background-color:#{coloured}"}
                  = "#{v['yearly_actual']} %"
            - j += 1
      - i += 1