.row
  %h3.twelve.columns
    =t '.title'

%table.table.kpi
  %tr
    %th{rowspan: 2}
      Bil
    %th{rowspan: 2, colspan: 2}
      Program
    %th{colspan: 12}
      Bilangan Peserta
    %th{rowspan: 2}
      Jumlah Semasa
    %th{rowspan: 2}
      Sasaran Semasa (Peserta/Penyertaan)
    %th{rowspan: 2}
      Sasaran Tahunan (Peserta/Penyertaan)
    %th{rowspan: 2}
      \% Pencapaian (Semasa)
    %th{rowspan: 2}
      \% Pencapaian (Tahunan)
  %tr
    %th
      Jan
    %th
      Feb
    %th
      Mar
    %th
      Apr
    %th
      Mei
    %th
      Jun
    %th
      Jul
    %th
      Ogo
    %th
      Sep
    %th
      Okt
    %th
      Nov
    %th
      Dis
  - i = 1
  - @kpi_results.each do |key, value| 
    - rowspan = value['number_of_course_types']
    - unless key == 'current_month'
      %tr
        %td{rowspan: rowspan}
          = i
        %td{rowspan: rowspan}
          = key

        - j = 0
        - value.each do |k,v|
          - unless k == 'number_of_course_types'
            - if j == 0
            
              %td
                = k
              %td
                = v['jan']
              %td
                = v['feb']  
              %td
                = v['mar']  
              %td
                = v['apr']  
              %td
                = v['may']  
              %td
                = v['jun']  
              %td
                = v['jul']  
              %td
                = v['aug']  
              %td
                = v['sep']  
              %td
                = v['oct']  
              %td
                = v['nov']  
              %td
                = v['dec']  
              %td
                = v['current_total']
              %td
                = "#{v['per_session_target']} org/1 sesi"
                
                = "@<br/>#{v['current_target']} org /#{v['current_number_of_courses']} sesi".html_safe unless ( v['current_target'] == 0 && v['current_number_of_courses'] == 0 )
              %td
                = "#{v['per_session_target']} org/1 sesi"
              
                = "@<br/>#{v['yearly_target']} org /#{v['yearly_number_of_courses']} sesi".html_safe  unless ( v['yearly_target'] == 0 && v['yearly_number_of_courses'] == 0 )
              %td
                = v['current_actual']
              %td
                = v['yearly_actual']
            - else
              %tr
                %td
                  = k
                %td
                  = v['jan']
                %td
                  = v['feb']  
                %td
                  = v['mar']  
                %td
                  = v['apr']  
                %td
                  = v['may']  
                %td
                  = v['jun']  
                %td
                  = v['jul']  
                %td
                  = v['aug']  
                %td
                  = v['sep']  
                %td
                  = v['oct']  
                %td
                  = v['nov']  
                %td
                  = v['dec']  
                %td
                  = v['current_total']
                %td
                  = "#{v['per_session_target']} org/1 sesi"
                  
                  = "@<br/>#{v['current_target']} org /#{v['current_number_of_courses']} sesi".html_safe unless ( v['current_target'] == 0 && v['current_number_of_courses'] == 0 )
                %td
                  = "#{v['per_session_target']} org/1 sesi"
                
                  = "@<br/>#{v['yearly_target']} org /#{v['yearly_number_of_courses']} sesi".html_safe  unless ( v['yearly_target'] == 0 && v['yearly_number_of_courses'] == 0 )
                %td
                  = v['current_actual']
                %td
                  = v['yearly_actual']
            - j += 1
      - i += 1