<script type="text/javascript">
<% the_data_array = [] %>
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  <% header_array = ['Tahun'] 
     row_array = []
     @years.each do |year| 
       header_array << year
     end 
     the_data_array << header_array
     @programs.each do |program|
      row_array = []  
      row_array << program.name
        @years.each do |year|
          
          row_array << program.courses.year(year).count
        end
      the_data_array << row_array
     end
  %>
  function drawChart() {
    var data = google.visualization.arrayToDataTable(
      <%= the_data_array.to_s.html_safe %>
    );

    var options = {
      title: 'Bilangan Ahli yang mengikuti Program dari <%= @years.first %>',
      width: '600',
      height: '800',
      chartArea: {width: '50%', height: '40%'},
legend: {position: 'out'},
titlePosition: 'out', axisTitlesPosition: 'out',
hAxis: {textPosition: 'out'}, vAxis: {textPosition: 'out'},
      hAxis: {title: 'Program', titleTextStyle: {color: 'red'},slantedText: true, slantedTextAngle: 90}
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('userchart'));
    chart.draw(data, options);
  }

 
</script>
<div class="row">
  <div class="twelve columns">
    <h6>
      <%= "Bilangan Ahli yang mengikuti Program dari #{@years.first}" %>
    </h6>
    <div class="table">
      <div class="row table-head">
        <div class="two columns">
          <h6 class="title"></h6>
        </div>
        <% @years.each do |year| %>
          <div class="two columns center">
            <h6 class="title">
              <%= year %>
            </h6>
          </div>
        <% end %> 
      </div>
      <% 
        @programs.each do |program|
      %>
        <div class="row table-rows">
          <div class="two columns">
            <p>
              <%= program.name %>
            </p>
          </div>
          <% @years.each do |year| %>
            <div class="two columns center">
              <p>
                <%= User.joins(:courses).where('courses.id in (?)', program.courses.year(year)).count %>
              </p>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="row table-rows">
        <div class="two columns">
          <p>
            Jumlah
          </p>
        </div>
        <% @years.each do |year| %>
          <div class="two columns center">
            <p>
              <%
                total = 0
                @programs.each do |program|
                  total += User.joins(:courses).where('courses.id in (?)', program.courses.year(year)).count
                end

              %>
              <%= total %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <div id='userchart' style="width: 600px; height: 800px;"></div>
    
  </div>
  <hr>
    
  
</div>