.row
  .twelve.columns
    .table
      .row.table-head
        .six.columns
          %h6.title
        .three.columns.center
          %h6.title
            Bil Peserta
        .three.columns.center
          %h6.title
            Jumlah
      - @result_set.each do |course_type,values|
        - if course_type == 'grand_total'

          .row.table-row{style: "background-color:#FFF380"}
            .six.columns
              %p
                Jumlah Keseluruhan
            .three.columns.center
              %p
                = @result_set['grand_total']
            .three.columns.center
              %p
                = @result_set['grand_total']
        - else
          .row.table-row
            .six.columns{style: "background-color:#F88158"}
              %p
                = course_type
            .three.columns
            .three.columns
          - values.each do |key, user_count|
            
            - if key == 'total_users'
              .row.table-row{style: "background-color:#D1D0CE"}
                .six.columns
                  %p
                    = t('.total_users')
                .three.columns
                .three.columns.center
                  %p
                    = user_count
            - else
              .row.table-row
                .six.columns
                  %p
                    = "&nbsp;&nbsp;&nbsp;&nbsp;#{key}".html_safe
                .three.columns.center
                  %p
                    = user_count
                .three.columns.center


              

