%header.navbar
  .row 
    .three.columns.less-right-margin
      = image_tag 'logoPKNS.png', height: '40px;'
    %h4.six.columns.logo
      .four.columns.less-left-margin
        - if current_user
          = link_to 'BIZ DATA', '/home'
        - else
          = link_to 'BIZ DATA', root_url
      .three.columns.small
        = session[:current_program_name] unless session[:current_program_name].nil?#, '#'
    / %ul.three.columns.small
    /   = session[:current_program_name] unless session[:current_program_name].nil?#, '#'
    %ul.three.columns
      = render 'layouts/navigation'