%header.navbar
  .row.navigation
    %h5.three.columns.biglogo
      = link_to image_tag('logoPKNSBIZ.png', height: '68'),portal_home_path

    %ul.nine.columns
      %li= link_to t('.member_page'), portal_members_path
      %li= link_to t('course'), portal_course_path
      %li= link_to t('.blog'), category_blog_path
      %li= link_to t('.contact'), portal_contact_path
      %li
        = link_to '#' do
          %i.icon-user
          Daftar Masuk
          .dropdown.custom
            = form_for("user", :url => user_session_path, :html => {:class => 'custom form'}) do |f|
              %ul
                %li.field
                  = f.label :email
                  = f.email_field :email, :autofocus => true, :class => 'email input', :placeholder => t('email')
                %li.field
                  = f.label :password
                  = f.password_field :password, :class => 'password input', :placeholder => t('password')
                %li.field
                  %span.pretty.medium.info.btn
                    %button{:onClick => 'submit();'}=t('login')