%header.navbar
  .row
    %h5.two.columns.logo
      = link_to 'PKNS BIZ DATA', portal_home_path
    %ul.three.columns
      %li= link_to t('.blog'), category_blog_path
      %li= link_to t('.course'), portal_course_path
      %li= link_to t('.faq'), portal_faq_path
      %li= link_to t('.contact'), portal_contact_path