- if current_user
  %li
    .row
      / .three.columns
      .twelve.columns.profile
        = link_to '#' do
          / %i.icon-user
          - unless current_user.profile_photo.nil?
            .avatar.circle.image
              = image_tag(current_user.profile_photo.file)
          - else
            .avatar.circle.image
              = image_tag('http://flickholdr.com/50/50/avatar')
          ="#{current_user.first_name} #{current_user.last_name}"
        %span
          %i.icon-down-open
        .dropdown
          - if current_user
            %ul
              %li
                = link_to user_path(id: current_user.id) do
                  %i.icon-user
                  = t('profile')
              / %li
              /   = link_to user_course_listing_path do
              /     %i.icon-book
              /     = t('my_course')
              %li
                = link_to edit_user_registration_path do
                  %i.icon-tools
                  = t('setting')
              %li
                = link_to destroy_user_session_path, :method => 'delete' do
                  %i.icon-logout
                  = t('logout')
- elsif current_consultant
  %li
    .row
      .twelve.columns.profile
        = link_to '#' do
          - unless current_consultant.profile_photo.nil?
            .avatar.circle.image
              = image_tag(current_consultant.profile_photo.file)
          - else
            .avatar.circle.image
              = image_tag('http://flickholdr.com/50/50/avatar')
          = current_consultant.first_name
        %span
          %i.icon-down-open
        .dropdown
          %ul
            %li
              = link_to consultant_path(id: current_consultant.id) do
                %i.icon-user
                = t('.consultant_profile')
            %li
              = link_to '#' do
                %i.icon-briefcase
                = t('.my_program')
              .dropdown
                %ul
                  = program_switch_menu.html_safe
            %li
              = link_to destroy_consultant_session_path, method: :delete do
                %i.icon-logout
                = t('logout')