- if current_user or current_consultant
  %aside#sidebar
    %nav#sidebar-nav-holder.vertical-nav.fixeds
      - if current_consultant
        %ul#sidebar-nav
          %li
            = link_to t('.member_directory'), members_path
          %li
            = link_to t('.business_directory'), business_directory_path
          %li{:'ui-nav-dropdown' => 'ui-nav-dropdown'}
            = link_to '#' do
              %span.left
                %i.icon-archive
              Kursus
              %span.right
                %i.icon-plus
            %ul.dropdown-menu
              %li
                = link_to t('.list_of_courses'), course_listing_path
              %li
                = link_to t('.add_modify_courses'), courses_path
          %li{:'ui-nav-dropdown' => 'ui-nav-dropdown'}
            = link_to '#' do
              %span.left
                %i.icon-plus-squared
              = t('extra')
              %span.right
                %i.icon-plus
            %ul.dropdown-menu
              %li
                = link_to t('.list_surveys'), surveys_path
              %li
                = link_to t('.new_survey'), new_survey_path
              %li
                = link_to t('.my_adverts'), my_adverts_consultant_path(current_consultant)
              %li
                = link_to t('.history'), history_path
              %li
                = link_to t('.create_newsletter_template'), newsletters_path
      - if current_user
        %ul#sidebar-nav
          - if !current_user.admin?
            %li
              = link_to t('.business_directory'), business_directory_path
            %li
              = link_to t('.member_directory'), members_path  
            %li{:'ui-nav-dropdown' => 'ui-nav-dropdown'}
              = link_to '#' do
                %span.left
                  %i.icon-archive
                Kursus
                %span.right
                  %i.icon-plus
              %ul.dropdown-menu
                %li
                  = link_to t('.course_listing'), course_listing_path
                %li
                  = link_to t('.my_courses'), user_course_listing_path
            - if cannot? :consultation, :pages
              %li
                = link_to t('.consultation'), '#'
              %li
                = link_to t('.my_adverts'), '#'
            - else
              %li
                = link_to t('.consultation'), consultation_path
              %li
                = link_to t('.my_adverts'), my_adverts_user_path(current_user)
          - if current_user.admin?
            %li{:'ui-nav-dropdown' => 'ui-nav-dropdown'}
              = link_to '#' do
                %span.left
                  %i.icon-user-add
                = t('.administrate_user')
                %span.right
                  %i.icon-plus
              %ul.dropdown-menu
                %li
                  = link_to t('.member_directory'), members_path
                %li
                  = link_to t('.administrate_user'), users_path
                %li
                  = link_to t('.administrate_pkns_user'), pkns_users_path
                %li
                  = link_to t('.database'), past_attendances_path
            %li
              = link_to business_directory_path do
                %span.left
                  %i.icon-folder
                = t('.business_directory')
            %li
              = link_to programs_path do
                %span.left
                  %i.icon-briefcase
                = t('.program')
            %li
              = link_to consultants_path do
                %span.left
                  %i.icon-users
                = t('.consultant')
            %li{:'ui-nav-dropdown' => 'ui-nav-dropdown'}
              = link_to '#' do
                %span.left
                  %i.icon-archive
                = t('course')
                %span.right
                  %i.icon-plus
              %ul.dropdown-menu
                %li
                  = link_to t('.course_listing'), course_listing_path
                %li
                  = link_to t('.add_modify_courses'), courses_path
            %li{:'ui-nav-dropdown' => 'ui-nav-dropdown'}
              = link_to '#' do
                %span.left
                  %i.icon-tools
                = t('register')
                %span.right
                  %i.icon-plus
              %ul.dropdown-menu
                %li
                  = link_to t('.new_skill'), skills_path
                %li
                  = link_to t('.new_education'), educations_path
                %li
                  = link_to t('.new_business'), businesses_path
                %li
                  = link_to t('.new_business_category'), business_categories_path
                %li
                  = link_to t('.new_consultant'), new_consultant_path
            %li{:'ui-nav-dropdown' => 'ui-nav-dropdown'}
              = link_to '#' do
                %span.left
                  %i.icon-plus-squared
                = t('extra')
                %span.right
                  %i.icon-plus
              %ul.dropdown-menu
                %li
                  = link_to t('.list_surveys'), surveys_path
                %li
                  = link_to t('.new_survey'), new_survey_path
                %li
                  = link_to t('.new_letter'), letters_list_path
                %li
                  = link_to t('.list_adverts'), adverts_path
                %li
                  = link_to t('.user_reports'), reports_users_path
                %li
                  = link_to t('.program_reports'), reports_programs_path
                %li
                  = link_to t('.blog'), blogs_path
                %li
                  = link_to t('.history'), history_path
                %li
                  = link_to t('.create_newsletter_template'), newsletters_path
