<!DOCTYPE html>
<html>
<head>
  <title>BizPkns</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <style type="text/css" media="screen">
    padding-top:60px;
  </style>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%= render partial: "/layouts/header" %>
  <div class="container">
    <div class="row">
      <div class="span9">
        <p class="notice"><%= notice %></p>
        <p class=""><%= alert %></p>
        <%= yield %>
      </div>
      <div class="section sidebar span3">
        <h2>Latest News</h2>
        <p><small>The Super Bowl will be beamed to astronauts on board the ISS
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small></p>

        <p><small>In this small town, everybody knows somebody who was killed or injured.</small></p>

        <p><small>Dreamliner flights could resume within a week, the agency told members of Congress. Boeing said it has stationed teams around the world to begin installing the fix.</small></p>
      </div>
    </div>
  </div>
  <%= render partial: "/layouts/footer" %>
</body>
</html>
