- model_class = User
.page-header
  %h1= t('.title')
= form_tag '', method: :get do
  .row-fluid
    .span3
      = label :search, :city, t('search_by_name')
      = text_field_tag 'search_term','', name: 'search[term]'
    .span3
      = label :search, :skill, t('search_by_skill')
      = select :search, :skill, Skill.order(:name).map{|a| [a.name,a.id]}, {:include_blank => true, selected: ''}
    .span3
      = label :search, :state, t('search_by_state')
      = select :search, :state, City.order(:state_name).map{|a| [a.state_name,a.state_name]}.uniq, {:include_blank => true, selected: ''}
    .span3
      %br/
      = button_tag t('search'), class: 'btn btn-success', :style => "margin-top:8px;" 
      %br/
  .row-fluid
    .span12
      %table.table.table-striped
        %thead
          %tr
            %th{:style => "width:auto"}= t('name')
            %th= t('membership_num')
            %th{:style => "width:250px;"}= t('program')
            %th{:style => "width:200px;"}= t('status')
        %tbody
          - @users.each_with_index do |user,i|
            %tr
              %td= link_to "#{user.first_name} #{user.last_name}", user_path(user)
              %td
                - if user.confirmed? && user.membership
                  = user.membership.member_number
                - else
                  NIL
              %td
                - user.programs.uniq.each do |program|
                  %p= program.name
              - if user.current_employment_status == 'own business'
                %td Pemilik Perniagaan
              - elsif user.current_employment_status == 'working studying'
                %td Bekerja/Belajar
              - elsif user.current_employment_status == 'studying'
                %td Belajar
              - elsif user.current_employment_status == 'working self business'
                %td Bekerja/Perniagaan Sendiri
              - elsif user.current_employment_status == 'Belajar/Perniagaan Sampingan'
                %td Pemilik Perniagaan
              - else
                %td Nil
              %td
                - if can? :read, :all

                  = link_to t('view'),                        |
                  user_path(user), :class => 'btn btn-secondary btn-mini' |
                - if can? :manage, :all
                  =link_to t('destroy', :default => t("helpers.links.destroy")),
                              user_path(user),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => t('are_you_sure'))) },
                              :class => 'btn btn-mini btn-danger'
