.row
  = nested_form_for @pkns_user, :html => { :class => 'form-horizontal', multipart: true } do |f|
    %ul
      %li.field
        .row
          .six.columns
            = f.label t('first_name')
            = f.text_field :first_name, :class => 'text input', :placeholder => ''
          .six.columns
            = f.label t('last_name')
            = f.text_field :last_name, :class => 'text input', :placeholder => ''
      %li.field
        = f.fields_for :profile_photo do |pp|
          = pp.label t('upload_profile_photo') do
            = pp.file_field :file, :class => 'file input'
      %li.field
        = f.label t('email')
        = f.text_field :email, :class => 'email input', :placeholder => ''
      %li.field
        .row
          .six.columns
            = f.label t('staff_number'), class: 'control-label'
            = f.text_field :staff_number, class: 'text input', :placeholder => ''
          .six.columns
            = f.label t('section'), class: 'control-label'
            = f.text_field :section, class: 'text input', :placeholder => ''
      %li.field
        = f.label t('unit'), class: 'control-label'
        = f.text_field :unit, class: 'text input', :placeholder => ''
      %li.field
        = f.label t('ic_number')
        = f.text_field :ic_number, :class => 'text input', :placeholder => ''
      %li.field
        .row
          .six.columns
            = f.label t('phone')
            = f.text_field :phone, :class => 'phone input', :placeholder => ''
          .six.columns
            = f.label t('office_phone')
            = f.text_field :office_phone, :class => 'phone input', :placeholder => ''
      %li.field
        = f.label t('password'), :class => 'control-label'
        = f.password_field :password, :class => 'text input'
      %li.field
        = f.label t('password_confirmation'), :class => 'control-label'
        = f.password_field :password_confirmation, :class => 'text input'
      %li.field
        %span.medium.pretty.btn.warning
          - if f.object.new_record?
            / = f.submit t('create_user')
            %button{:onClick => 'submit();'}= t('create_user')
          - else
            / = f.submit t('update')
            %button{:onClick => 'submit();'}= t('update')
        %span.medium.pretty.btn.default
          = link_to t('cancel', :default => t("helpers.links.cancel")),
          users_path