.field
  = nested_form_for @pkns_user, :html => { :class => 'form-horizontal', multipart: true } do |f|
    .control-group
      = f.label t('first_name'), :class => 'control-label'
      .controls
        = f.text_field :first_name, :class => 'text input wide'
    .control-group
      = f.label t('last_name'), :class => 'control-label'
      .controls
        = f.text_field :last_name, :class => 'text input wide'
    .control-group
      = f.label t('staff_number'), class: 'control-label'
      .controls
        = f.text_field :staff_number, class: 'text input wide'
    .control-group
      = f.label t('section'), class: 'control-label'
      .controls
        = f.text_field :section, class: 'text input wide'
    .control-group
      = f.label t('unit'), class: 'control-label'
      .controls
        = f.text_field :unit, class: 'text input wide'
    .control-group
      = f.label t('.ic_number'), :class => 'control-label allcap'
      .controls
        = f.text_field :ic_number, :class => 'text input wide'
    .control-group
      = f.label t('phone'), :class => 'control-label'
      .controls
        = f.text_field :phone, :class => 'text input wide'
    .control-group
      = f.label t('office_phone'), :class => 'control-label'
      .controls
        = f.text_field :office_phone, :class => 'text input wide'
    %br/
    .control-group
      = f.label t('email'), :class => 'control-label'
      .controls
        = f.text_field :email, :class => 'text input wide'
    .control-group
      = f.label t('password'), :class => 'control-label'
      .controls
        = f.password_field :password, :class => 'text input wide'
    .control-group
      = f.label t('password_confirmation'), :class => 'control-label'
      .controls
        = f.password_field :password_confirmation, :class => 'text input wide'
    .control-group
      = f.fields_for :profile_photo do |pp|
        = pp.label t('upload_profile_photo'), :class => 'control-label'
        .controls
          = pp.file_field :file, :class => 'text input wide'
      = f.hidden_field :is_active, value: 1
   
      %br/
      %br/
    .form-actions
      - if f.object.new_record?
        %span.medium.pretty.btn.primary
          = f.submit t('create_user')#, class: 'btn btn-primary'
      - else
        %span.medium.pretty.btn.secondary
          = f.submit t('update')#, :class => 'btn btn-primary'
      %span.medium.pretty.btn.default
        = link_to t('cancel', :default => t("helpers.links.cancel")), |
        users_path#, :class => 'btn btn-primary'                     |
